<div class="filterListBoxBody">
  <% if @projects.present? %>
    <% @projects.each do |project| %>
      <div class="card">
        <div class="filterList">
          <div class="filterListContent">
            <ul class="pl2">
              <%= link_to business_project_feed_path(project), class: "u-text-inherit" do %>
                <li>
                  <h3 style="color:#d14a3e;"><%= project.title %></h3>
                </li>
              <% end %>
              <li>
                <span>(<%= project.project_budget %>)</span>
              </li>
            </ul>
            <ul class="invited activeBox pl2">
              <li>
                <i class="fa fa-user" aria-hidden="true"></i> <%= project.user.name %>
              </li>
              <li class="li-shift">
                <i class="fa fa-clock-o" aria-hidden="true"></i><%= project.created_at.strftime("%d/%m/%Y")%>
              </li>
              <li>
                <i class="fa fa-tags" aria-hidden="true"></i> <%= project.category.name %>, <%= project.sub_categories.present? ? project.sub_categories.map(&:name).join(", ") : '' %>
              </li>
              <li class="li-shift">
                <i class="fa fa-map-marker" aria-hidden="true"></i> <%= project.location.present? ? project.location.city_country : " " %>
              </li>
              <li>
                <%= link_to user_project_path(project),  style: "text-decoration: none;color:black" do %>
                  <span class="activity-preview-button"><i class="fa fa-external-link" aria-hidden="true"></i>view project listing
                  </span>
                <% end %>
              </li>
              <li class="li-shift">
                <div>
                  <%= link_to new_user_project_path(project_type: "default") do %>
                    <span class="btn-special mt3 float-right btn-msg"><i class="fa fa-comment"></i> send messages</span>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
          <div class="filterListAction">
            <div class="tooltip"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <div class="tooltiptext">
                  <a href=""> <i class="fa fa-eye" aria-hidden="true"></i> Mark as complete</a>
                  <a href=""> <i class="fa fa-eye" aria-hidden="true"></i> View contract</a>
                  <a href=""> <i class="fa fa-file-text" aria-hidden="true"></i>Propose a contract</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card">
      <div class="card__section">
        <p><%= t("feed.no_projects") %></p>
      </div>
    </div>
  <% end %>
</div>