<section class="section-page section--alt">
  <div class="">
    <div class="grid">
      <div class="grid__col--md-3 grid__col--xs-12 mt2">
        <div class="dashboard-sidebar-lists">
          <ul>
            <% @filter_terms.each do |term| %>
              <%= link_to business_projects_path(filter_by: "#{term[0]}"), class: "sidebar-link" do %>
                <li class="<%= 'active' if params[:filter_by] == "#{term[0]}" %>">
                  <i class="fa <%= term[1]%>" aria-hidden="true"></i>
                  <%= t("#{term[0]}") %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <%= link_to business_project_feed_index_path do %>
          <span class="btn--full btn-special mt3 float-right"> FInd Projects</span>
        <% end %>
      </div>
      <div class="grid__col--xs-12 grid__col--md-6"> 
        <div class="filterListiconBtn">
          <i class="fa fa-th-large" aria-hidden="true"></i>
          Map View <i class="fa fa-map" aria-hidden="true"></i>
        </div>
        <%= render partial: "#{params[:filter_by]}" %>
      </div>
      <div class= "grid__col--xs-12 grid__col--md-3 grid__col--lg-3 mt4">
        <%#= link_to  t("profile_nav.business.feed"), business_project_feed_index_path, class: "btn-block btn-special btn-business-dashboard mt-3" %>

        <div class="featured-lists mb-4">

          <h5 class="saved-lists-heading"><i class="fa fa-bookmark" aria-hidden="true"></i> Featured Project</h5>

          <ul>
            <li>I need a professional contractors</li>
            <li>I need a professional consultants</li>
            <li>I need a professional supplier</li>
            <li>I need a heavy machinery</li>
            <li>I need a developers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

