<div class="card js-section u-hide js-empty js-reviews-all">
  <% if @business.reviews.present? %>
    <% @business.reviews.each do |review| %>
      <div class="card__section card__section--border">
        <div class="grid grid--v-padded">
          <div class="grid__col--xs-12">
            <div class="media media--middle mb2">
              <div class="media__figure u-hide--small-down">
                <%= image_tag review.user.profile_image.url, class: "avatar avatar--large" %>
              </div>
              <div class="media__body">
                <h4 class="mb0"><%= review.user.name %>, <%= review.user.city.name if review.user.city.present? %></h4>
                <small><%= review.created_at.strftime("%B %d, %Y") %></small>
              </div>
            </div>
            <div class="rating">
              <%= render partial: "partials/stars/star_helper", locals: { full_stars: review.full_stars, half_star: review.half_star, empty_stars: review.empty_stars, star_modifier: "yellow" } %>
            </div>
            <p class="small"><%= review.comment %></p>
            <p class="small">Reliability <strong><%= review.reliability %></strong> • Tidiness <strong><%= review.tidiness %></strong> • Courtesy <strong><%= review.courtesy %></strong> • Workmanship <strong><%= review.workmanship %></strong> • Value for money <strong><%= review.value_for_money %></strong></p>
            <% if review.recommended %>
              <div class="u-relative">
                <span class="recommended-badge badge badge--success"><%= t("words.recommended") %></span>
              </div>
            <% end %>
          </div>
        </div>
        <% if review.review_reply.present? %>
          <div class="card__section">
            <div class="card__header">
              <h4 class="card__title"><%= t("phrases.vendor_response") %></h4>
            </div>
            <p class="small"><%= review.review_reply.body %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="card__section">
      <div class="card__header">
        <h3 class="card__title"><%= inline_svg("icons/star.svg", class: "icon icon--sm-small icon--brand") %><%= t("business.reviews") %></h3>
      </div>
      <div class="grid grid--v-padded">
        <div class="grid__col--xs-12">
          <p><%= t("reviews.no_reviews") %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
