          <div class="card__section card__section--border pb1 pt1 project-new-card">

            <div class="single-latest-activity-box">
              <div class="heading-container">
                <div class="card__invitation">
                  <div class="card__title__hide_button">
                    <h5 class="heading"><%= project.title %></h5>
<div>
                    <p>
                      <%=truncate(project.description, :length => 50)%>
                    </p>
                    </div>
                    <% if request.original_url.include?("Allprojects") %>
                    <span><%= project.creation_status %></span>
                    <% end %>
                  </div>
                </div>
                <% if params[:filter_by] == "Completed" || params[:filter_by] == "Ongoingprojects" %>
                <div class="sub-heading" style="color:black"> Contractor: <%= project.business.name %></div>
                <div class="sub-heading">
                  <%#= link_to user_project_path(project),  style: "text-decoration: none;color:black" do %>
                  <span class="activity-preview-button"><i class="fa fa-clock-o" aria-hidden="true"
                      style="color:black"></i> <%= project.project_status %> Oct 20</span>
                  <%# end %>
                  <%#= link_to edit_user_project_path(project),  style: "text-decoration: none;color:black" do %>
                  <span class="activity-edit-button"><i class="fa fa-money" aria-hidden="true" style="color:black"></i>
                    Budget (<%= project.project_budget %>)</span>
                  <%# end %>
                  <%= link_to user_project_project_business_path(project_id: project.id, id: project.business_id)  do %>
                  <span class="activity-delete-button"><i class="fa fa-edit" aria-hidden="true"></i> View
                    Contractor</span>
                  <% end %>
                </div>
                <% else %>
                <div class="sub-heading"><%= time_ago_in_words(project.updated_at) %> <%= t("words.ago") %> - 112 Views
                  - <%= project.number_applied %> interested</div>
                <div class="sub-heading">
                  <%= link_to user_project_path(project),  style: "text-decoration: none;color:black" do %>
                  <span class="activity-preview-button"><i class="fa fa-external-link" aria-hidden="true"></i>
                    Preview</span>
                  <% end %>
                  <%= link_to edit_user_project_path(project),  style: "text-decoration: none;color:black" do %>
                  <span class="activity-edit-button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span>
                  <% end %>
                  <%= link_to user_project_path(project), method: :delete, class: "delete_project", style: "text-decoration: none;color:black", data:{confirm: "Are you sure to delete?"} , remote:true  do %>
                  <span class="activity-delete-button"><i class="fa fa-times" aria-hidden="true"></i> Delete</span>
                  <% end %>
                </div>
                <% end %>
              </div>
              <% if params[:filter_by] == "Completed" %>
              <% if project.review.present? %>
              <div class="rating">
                <%= render partial: "partials/stars/star_helper", locals: { full_stars: project.review.full_stars, half_star: project.review.half_star, empty_stars: project.review.empty_stars, star_modifier: "yellow" } %>
              </div>
              <% else %>
              <%= link_to "Rate now", new_user_review_path(project_id: project.id), class: "activate-button-align mr2" %>
              <% end %>
              <% else %>
              <div class="icon-container">
                <div class="icon-and-value">
                  <i class="fa fa-envelope" aria-hidden="true"></i> <span
                    class="value"><%= project.messages.count %></span>
                </div>
              </div>
              <% end %>
              <% if  params[:filter_by] == "Cancelled" %>
              <%= link_to "Activate again", new_user_project_path(project_type: "suppliers"), class: "btn-outline-primary btn-special activate-button-align ml2" %>
              <% end %>
            </div>
          </div>