<section class="grid__col--md-9 section-page section--alt mt3 mb-4">
  <div class="site-wrap">
    <div class="mb2">
      <span class="custom-breadcrumb-title"><%= t("profile_nav.projects") %></span>
    </div>
    <div class="card normal-card">
      <div class="card__section card__section--border pb1">
        <% if current_user.projects.present? %>
          <div class="has-popover u-hide--medium">
            <%= render partial: "partials/filter_sort/filter_sort_mobile", locals: { filter_terms: @filter_terms, default_term: "Allprojects" } %>
          </div>
          <div class="u-hide--medium-down ">
            <div class="segmented-control">
              <ul class="active-project-tab">
                <%= render partial: "partials/filter_sort/filter_sort", locals: { filter_terms: @filter_terms, default_term: "Allprojects" } %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <% if @projects.present? %>
        <% @projects.each do |project| %>
    <%=render partial: "user/projects/project_thumb" ,locals: {project: project}%>
        <% end %>
      <% else %>
        <div class="card__section card__section--border">
          <p><%= t("dashboard_projects.no_projects") %>.</p>
          <div class="grid__col--md-4 grid__col--xs-12">
            <% if !current_user.projects.present? %>
              <%= link_to t("main_nav.hire_professional"), new_user_project_path(project_type: "default"), class: "btn-outline-primary btn-block btn-special mt-3" %>
              <%= link_to t("main_nav.get_supplies"), new_user_project_path(project_type: "suppliers"), class: "btn-outline-primary btn-block btn-special" %>
              <%= link_to t("main_nav.buy_rent"), new_user_project_path(project_type: "machinery"), class: "btn-outline-primary btn-block btn-special" %>
            <% else %>
              <div class="btn-group">
                <button class="btn btn--primary btn--small u-text-right btn-fixed--medium btn-group__item js-open-modal" data-modal="tell_use_your_needs">Tell us what you need<%#= t("links.post_project") %></button>
              </div>
              <%#= link_to t("links.post_project"), new_user_project_path, class: 'btn btn--primary btn--small' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @projects.total_pages > 1 %>
      <div class="mt3 pagination">
        <%= paginate @projects %>
      </div>
    <% end %>
  </div>
</section>
