<section class="grid__col--md-9 unset-grid section-page section--alt mt3 mb-4">
  <div class="site-wrap">
    <div class="grid">
      <div class="activity__title__hide_button">
        <h1><%= @project.title %></h1>
        <div class="u-text-center">
          <%= link_to t("projects.view_project"), project_details_user_project_path(@project), class: "btn-group__item btn btn--xs-full btn--secondary", method: :get %>
          <%= link_to t("projects.edit_project"), edit_user_project_path(@project), class: "btn-group__item btn btn--xs-full btn--secondary" %>
        </div>



      </div>

      <div class="sub-heading project-tabs-main">

        <div class="has-popover u-hide--medium mb2">
          <ul>
            <%= render partial: "partials/filter_sort/filter_sort_mobile", locals: { filter_terms: @filter_terms, default_term: "Shortlisted" } %>
          </ul>
        </div>
        <div class="u-hide--medium-down">
          <ul>
            <%= render partial: "partials/filter_sort/filter_sort", locals: { filter_terms: @filter_terms, default_term: "Shortlisted" } %>
          </ul>
        </div>



      </div>
    </div>

    <div class="grid js-listing-cards">

      <div class="grid__col--xs-12 grid__col--md-12">

        <% if @businesses.present? %>

        <%if @businesses.is_a?Hash %>
        <% @businesses.each do |m_business| %>
        <h3>
          <%=m_business[0]%>
        </h3>
        <%businesses = m_business[1]%>
        <%businesses.each do |business|%>
        <%= render partial: "partials/projects/project_listing_card_small", locals: { project: @project , business: business } %>
        <%end%>
        <%end%>
        <%else%>
        <% @businesses.each do |business| %>
        <%= render partial: "partials/projects/project_listing_card_small", locals: { project: @project , business: business } %>
        <%end%>
        <% end %>
        <% else %>
        <div class="grid__col--xs-12 grid__col--md-12">
          <div class="card">
            <div class="card__section card__section--border">
              <%= link_to t("projects.view_project"), project_details_user_project_path(@project), class: "btn-group__item btn btn--xs-full btn--secondary", method: :get %>
              <%= link_to t("projects.edit_project"), edit_user_project_path(@project), class: "btn-group__item btn btn--xs-full btn--secondary" %>
              <p><%= t("dashboard_following.no_businesses") %>.</p>
              <%= link_to t("links.browse"), categories_path(city: @current_city.slug), class: 'btn btn--primary btn--small' %>
            </div>
          </div>
        </div>
        <% end %>
      </div>



    </div>

    <% if !@businesses.is_a?Hash and  @businesses.total_pages > 1%>
    <div class="mt3 pagination">
      <%= paginate @businesses %>
    </div>
    <% end %>

  </div>
</section>

<% if @suggest_businesses %>
<%= content_tag :span, '', class: "js-suggest-businesses", data: { suggest: 'yes' } %>
<% end %>



<%= content_for :page_scripts do %>
<script>
  if ($('.js-suggest-businesses').data('suggest') === 'yes') {
    $('.js-suggest-businesses').toggleClass('is-visible');
  };

  var sidebarPositionTop;
  var sidebarPositionLeft;

  $(document).ready(function () {
    if ($('.js-project-sidebar').length < 1) {
      return
    };
    var sidebar = $('.js-project-sidebar');
    sidebarPositionTop = sidebar.offset().top;
    sidebarPositionLeft = sidebar.offset().left;
    sidebarWidth = sidebar.width();
  });

  if ($(window).width() > 600) {
    $(window).scroll(function () {

      if ($(window).scrollTop() > sidebarPositionTop) {
        $('.js-project-sidebar').addClass('project-sidebar--fixed');
        $('.js-project-sidebar').css('left', sidebarPositionLeft);
        $('.js-project-sidebar').css('width', sidebarWidth);
      } else {
        $('.js-project-sidebar').removeClass('project-sidebar--fixed');
      }
    });
  }
</script>
<% end %>