<!--<section class="section section--alt">
  <div class="site-wrap">
    <div class="segmented-control mb4">
      <%#= render partial: "partials/filter_sort/filter_sort", locals: { filter_terms: @filter_terms, default_term: "Allprojects" } %>
    </div>
    <div class="card">
      <%# if @project_feed.present? %>
        <%# @project_feed.each do |project| %>
          <div class="card__section card__section--border">
            <div class="grid mb2">
              <div class="grid__col--xs-12 grid__col--md-8">
                <%#= link_to business_project_feed_path(project), class: "u-text-inherit" do %>
                  <%# if @current_business.trusted? %>
                    <h3><%#= project.title %></h3>
                  <%# else %>
                    <h3><%#= t("feed.obscured_title") %></h3>
                    <small><%#= t("feed.obscured_blurb") %></small>
                  <%# end %>
                <%# end %>
              </div>
              <div class="grid__col--xs-12 grid__col--md-4 u-text-right--medium">
                <small class="m0 u-hide--medium-down"><%#= t("feed.posted") %> <%#= time_ago_in_words(project.created_at) %> <%#= t("feed.ago") %></small>
                <small class="m0 u-hide--medium"><%#= time_ago_in_words(project.created_at) %> <%#= t("feed.ago") %></small>
              </div>
            </div>
            <div class="grid grid--v-padded">
              <div class="grid__col--xs-6 grid__col--lg-3 grid__col--xlg-flex">
                <p><small><%#= t("feed.location") %></small><br><span class="u-text-dark"><%#= project.city_country %></span></p>
              </div>
              <div class="grid__col--xs-6 grid__col--lg-3 grid__col--xlg-flex">
                <p><small><%#= t("feed.distance") %></small><br><span class="u-text-dark"><%#= project.distance_from_business_to_s(@current_coordinates) <= 100 ? project.distance_from_business_to_s(@current_coordinates) : "> 100" %> km</span></p>
              </div>
              <div class="grid__col--xs-6 grid__col--lg-3 grid__col--xlg-flex">
                <%# if project.start_date.present? %>
                  <p><small><%#= t("feed.start_date") %></small><br><span class="u-text-dark"><%#= project.start_date.strftime("%B %d, %Y") %></span></p>
                <%# end %>
              </div>
              <div class="grid__col--xs-6 grid__col--lg-3 grid__col--xlg-flex">
                <%# if project.end_date.present? %>
                  <p><small><%#= t("feed.end_date") %></small><br><span class="u-text-dark"><%#= project.end_date.strftime("%B %d, %Y") %></span></p>
                <%# end %>
              </div>
              <div class="grid__col--xs-12 grid__col--lg-8 grid__col--xlg-flex">
                <p><small><%#= t("feed.services") %></small><br><span class="u-text-dark"><%#= truncate(project.display_services, length: 35) %></span></p>
              </div>
              <div class="grid__col--xs-12 grid__col--lg-4 grid__col--xlg-flex u-text-right--large">
                <div class="btn-group btn-group--full">
                  <%#= link_to t("feed.apply"), business_project_apply_to_project_path(project_id: project), class: "btn-group__item btn-group__item--full-small-down btn btn--primary", method: :put %>
                  <%#= link_to t("feed.details"), business_project_feed_path(project), class: "btn-group__item btn-group__item--full-small-down btn btn--secondary" %>
                </div>
              </div>
            </div>
          </div>
        <%# end %>
      <%# else %>
        <div class="card__section">
          <p><%#= t("feed.no_projects") %></p>
        </div>
      <%# end %>
    </div>
    <%# if @project_feed.total_pages > 1 %>
      <div class="mt3">
        <%#= paginate @project_feed %>
      </div>
    <%# end %>
  </div>
</section>-->

<section class="section-page section-alt">
  <div class="grid">
    <div class="grid__col--md-3 grid__col--xs-12 filterbox">
      <div class="filterbox-1">
        <h4>categories</h4>
        <div class="row">
          <hr/>
        </div>
        <ul>
          <li>
            <input type="checkbox" id="machinery" name="machinery" value="all">
            <label for="machinery">All Category</label><br>              
            <ul>
              <% Category.all.each_with_index do  |category, index| %>
                <li>
                  <input type="checkbox" id="<%=category.name%>-<%=category.id %>" name="category" value="<%= category.id %>">
                  <label for="<%=category.name%>-<%=category.id %>"><%= category.name %></label><br>              
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
      <div class="filterbox-1">
        <h4>locations</h4>
        <div class="row">
          <hr/>
        </div>
        <ul>
          <li>
          <label for="Saudi">Country</label><br>
          <%= select_tag(:country, options_for_select(Country.all.collect {|p| [ p.name, p.id ] }), {class: 'rails-country-for-select form-control mt2', prompt: "select country" } ) %>
            <!--<input type="checkbox" id="Saudi" name="Saudi" value="all">-->              
            <ul class="city-listing">
            </ul>
          </li>
        </ul>
      </div>
      <button class="js-submit btn btn--full btn--primary">Apply Filter</button>
    </div>
    <div class="grid__col--xs-12 grid__col--md-9">
      <div class="grid">
        <div class="grid__col--xs-12 grid__col--md-12">
          <div class="btn-group filterBtn">
            <%= link_to 'Date added', { city: @current_city.slug, filter_by: 'Dateadded' }, class: "js-submit btn btn--primary #{'filter-active' if (params[:filter_by].present? && params[:filter_by] == 'Dateadded')}" %>
            <%= link_to 'Distance', { city: @current_city.slug, filter_by: 'Distance' }, class: "js-submit btn btn--primary #{'filter-active' if (params[:filter_by].present? && params[:filter_by] == 'Distance')}" %>
          </div> 
          <div class="filterListiconBtn">
            <i class="fa fa-th-large" aria-hidden="true"></i>
            Map View <i class="fa fa-map" aria-hidden="true"></i>
          </div>
        </div>
        <div class="grid__col--md-12">
          <div class="filterListBoxBody">
            <% if @project_feed.present? %>
              <% @project_feed.each do |project| %>
                <div class="card">
                  <div class="filterList">
                    <%= image_tag "bg-interview.png" %>
                    <div class="filterListContent">
                      <ul>
                        <%= link_to business_project_feed_path(project), class: "u-text-inherit" do %>
                          <li>
                            <h3><%= project.title %></h3>
                          </li>
                        <% end %>
                        <li>
                          <span>(<%= project.project_budget %>)</span>  <mark><span><%= project.creation_status %></span></mark>
                        </li>
                        <li>
                          <i class="fa fa-map-marker" aria-hidden="true"></i> <%= project.location.city_country %>
                        </li>
                        <li>
                          <i class="fa fa-tags" aria-hidden="true"></i> <%= project.category.name %>/ <%= project.sub_categories.map(&:name).join(", ")%>
                        </li>
                        <li>
                          <i class="fa fa-info-circle" aria-hidden="true"></i> <%= project.timeline_type %>
                        </li>
                        <li>
                          <i class="fa fa-clock-o" aria-hidden="true"></i><%= project.created_at.strftime("%d/%m/%Y")%>
                        </li>
                      </ul>
                    </div>
                    <div class="filterListAction">
                      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                      <div class="tooltip"> <i class="fa fa-bars" aria-hidden="true"></i>
                        <div class="tooltiptext">
                          <a href=""> <i class="fa fa-eye" aria-hidden="true"></i> View Request</a>
                          <a href=""> <i class="fa fa-file-text" aria-hidden="true"></i> Request a Quote</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="card">
                <div class="card__section">
                  <p><%= t("feed.no_projects") %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @project_feed.total_pages > 1 %>
    <div class="mt3">
      <%= paginate @project_feed %>
    </div>
  <% end %>
</section>

<script>
  $(function() {
    toggleCitySelection();
    return $(document).on('change', '.rails-country-for-select', function(e) {
      var $this = $(this);
      if ($this.val() == ""){
        $('city-listing').empty()
      }
      else {
        return $.ajax({
          url: '/filter_cities',
          type: 'GET',
          dataType: 'script',
          data: {
            country_for_select: $this.val(),
            target_element: $this.uniqueId().attr('id'),
            filter: true
          }
        });
      }
    });
  });

  function toggleCitySelection() {
    var countrySelect = $('.rails-country-for-select');
  }
  $('.rails-country-for-select').on('change', toggleCitySelection);
</script>