<div class="grid__col--xs-12 grid__col--md-12 unset-grid">
  <div class="card">
    <div class="card__section card__section--border chat-wrapper">
      <% if @conversation_messages.blank? %>
        <div class="media__body">
          <div class="message__bubble"><%= t("messages.no_messages") %></div>
        </div>
        <% end %>
      <% @conversation_messages.each_with_index do |message, index| %>
        <%= render partial: "partials/inbox/format_conversation_body", locals: { message: message, previous_message: index == 0 ? "" : @conversation_messages[index - 1] } %>
      <% end %>
      <% unless @project.completed? %>
        <% if @business.shortlisted_or_accepted?(@project) && @project.quotes.pluck(:business_id).any?{ |business_id| business_id == @business.id } && !@project.project_in_process? %>
          <% if @project.user == @current_user %>
            <%= link_to "Hire now", user_project_accept_quote_path(quote_id: @business.quotes.where(project_id: @project.id).first.id, project_id: @project.id), class: "btn-group__item btn btn--primary", method: :put %>
          <% end %>
        <% elsif !@business.shortlisted_or_accepted?(@project) %>
          <%= link_to "Shortlist", user_project_shortlist_business_path(@project, business_id: @business.id), class: "btn-group__item btn btn--primary", method: :put %>
        <% end %>
      <% end %>
      <% if (!@project.project_in_process?) || (@project.project_in_process? && @project.business == @business)  %>
        <% if @project.completed? %>
          <span class="btn-group__item btn-group__item--full-small-down "><%= t("projects.project_complete") %></span>
        <% elsif @project.business == @business %>
          <% unless @project.pending_completion? %>
            <%= link_to t("projects.mark_complete"), business_project_mark_as_complete_path(project_id: @project), class: "btn-group__item btn-group__item--full-small-down btn btn--primary", id: "mark-complete", method: :put %>
          <% end %>
          <% unless @project.inactive? || @project.pending_completion? %>
            <%= link_to t("projects.cancel_project"), business_project_cancel_project_path(project_id: @project), class: "btn-group__item btn-group__item--full-small-down btn btn--secondary", id: "cancel-project", data: { confirm: "Are you sure?" }, method: :put %>
          <% end %>
        <% elsif @business.shortlisted?(@project) && @business.quotes.where(project_id: @project.id).blank? %>
          <% if @project.shortlists.pluck(:business_id).include?(@current_business.id) %>
            <%= link_to t("projects.submit_quote"), new_business_quote_path(project_id: @project), class: "btn-group__item btn-group__item--full-small-down btn btn--primary" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="grid">
        <div class="grid__col--xs-12 grid__col--md-12">
          <fieldset class="fieldset">
            <%= simple_form_for(@message, url: url, method: :post) do |f| %>
              <div class="new-message-textbox-with-send-button">
                <div class="field__input-wrapper new-message-textbox">
                  <div class="emoji-picker-container">
                    <%= f.input :body, wrapper: :text_area, placeholder: t("messages.placeholder"), input_html: { class: "form-control", id:"describe-your-request", rows:"2", data: { emojiable:true } }, label: false %>
                    <%= f.simple_fields_for :attachment do |ff| %>
                      <%= ff.input :attachment, as: :file, input_html: { class: "js-file-upload", hidden: true }, label: false %>
                      <span class="field__add-on field__add-on--right-custom" onclick="clickBrowseProjectPhoto($(this));"><i class="fa fa-paperclip fa-2x"></i></span>
                      <div class="clearfix uploadImgBox">
                        <div class="remove-blog">
                          <iframe id="output" width="100px" height="100px" style="display:none; overflow:hidden;"></iframe>
                          <!--<img id="output"/ width="100px" height="100px" style="display:none" />-->
                          <span onclick= "hideBlock($(this));" class="remove-attachment-button"><%= inline_svg("icons/cancel.svg", class: "mr-3 icon icon--small btn__add-on") %></span>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="field u-text-right">
                  <%= button_tag type: 'submit', class: "button my-button" do %>
                    <i class="fa fa-paper-plane send-icon" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".emoji-wysiwyg-editor").css({"padding": "6px", "height":"50px"});
    $('.emoji-picker-icon').addClass('fa-2x mr1 mt1');
  });

  function clickBrowseProjectPhoto($this) {
    var uploadButton = $this.closest('.field__input-wrapper').find('.js-file-upload');    uploadButton.click();

    $('input:file').change(function() {
      setFileUploadName()
    });
  
  }

  function setFileUploadName() {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('output');
      output.src = reader.result;
      output.style.display = "block";
      $('.remove-attachment-button').show();
      $('.remove-blog').show();
    };
    reader.readAsDataURL(event.target.files[0]);
  }

  function hideBlock($this) {
    $this.parent().hide();
    $('.js-file-upload').val('');
  }
</script>
