<div class="grid__col--xs-12 grid__col--md-8">
  <div class="card">
    <div class="card__section card__section--border chat-wrapper">
      <% if @conversation_messages.blank? %>
        <div class="media__body">
          <div class="message__bubble"><%= t("messages.no_messages") %></div>
        </div>
      <% end %>
      <% @conversation_messages.each_with_index do |message, index| %>
        <%= render partial: "partials/inbox/format_conversation_body", locals: { message: message, previous_message: index == 0 ? "" : @conversation_messages[index - 1] } %>
      <% end %>
      <div class="card__section">
        <fieldset class="fieldset">
          <%= simple_form_for(Message.create, url: url, method: :post) do |f| %>
            <div class="field">
              <%= f.input :body, wrapper: :text_area, placeholder: t("messages.placeholder"), label: false %>
            </div>
            <div class="field u-text-right">
              <%= f.submit t("messages.submit"), class: "btn btn--primary btn--xs-full" %>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>
