<div class="grid__col--xs-12 grid__col--md-12 unset-grid">
  <div class="card">
    <div class="card__section card__section--border chat-wrapper">
      <% if @conversation_messages.blank? %>
        <div class="media__body">
          <div class="message__bubble"><%= t("messages.no_messages") %></div>
        </div>
      <% else %>
        <% @conversation_messages.each_with_index do |message, index| %>
          <%= render partial: "partials/inbox/format_conversation_body", locals: { message: message, previous_message: index == 0 ? "" : @conversation_messages[index - 1] } %>
        <% end %>
      <% end %>
      <div class="card__section">
        <fieldset class="fieldset">
          <%= simple_form_for(@message, url: url, method: :post) do |f| %>
            <div class="field__input-wrapper">
              <%= f.input :body, wrapper: :text_area, placeholder: t("messages.placeholder"), input_html: { class: "form-control", id:"describe-your-request", rows:"2", data: { emojiable:true } }, label: false %>
              <%= f.simple_fields_for :attachment do |ff| %>
                <%= ff.input :attachment, as: :file, input_html: { class: "js-file-upload", hidden: true }, label: false %>
                <span class="field__add-on field__add-on--right-custom" onclick="clickBrowseProjectPhoto($(this));"><i class="fa fa-paperclip fa-2x"></i></span>
              <% end %>
            </div>
            <div class="field u-text-right">
              <%= f.submit t("messages.submit"), class: "btn btn--primary btn--xs-full" %>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<script>

  $(function() {
    $(".emoji-wysiwyg-editor").css({"padding": "6px", "height":"50px"});
    $('.emoji-picker-icon').addClass('fa-2x mr1 mt1');
  });
  function clickBrowseProjectPhoto($this) {
    var uploadButton = $this.closest('.field__input-wrapper').find('.js-file-upload');
    uploadButton.click();
    $('input:file').change(function() {
      setFileUploadName($this, uploadButton)
    });
  }

  function setFileUploadName($this, uploadButton) {
    $this.parent().find('.js-file-upload-name').text(uploadButton.val().split('\\').pop());
    $this.parent().find('.remove-attachment-button').show();
    $this.hide();
  }
  
</script>
