<% content_for :breadcrumbs do %>
  <%= render partial: 'partials/nav/breadcrumb_nav', locals: { breadcrumbs: [], current_breadcrumb: { name: "#{ t("post_project.header.project_details") } (1 #{ t("words.of") } 2)" } } %>
<% end %>

<section class="section section--alt in-section" >
  <div class="site-wrap">
    <h1 class="section-heading"><%= @project_type_header %></h1>
    <%= simple_form_for @project, url: wizard_path do |f| %>
      <%= render partial: "partials/projects/project_form", locals: { f: f } %>
    <% end %>
  </div>
</section>

<%# restore fields on server validation error %>
<% if @required_categories.present? %>
  <%= content_tag :span, '', class: "js-restore-required-categories", data: { categories: @required_categories } %>
<% end %>

<% if @other_field.present? %>
  <%= content_tag :span, '', class: "js-restore-other-field", data: { other: @other_field } %>
<% end %>

<%= content_for :page_scripts do %>
  <%= javascript_include_tag "location-map" %>

  <script>
    $('.control__input').on('change', function() {
      if( $('#project_location_type_other').is(':checked')) {
        $('.js-other-option').removeClass('u-hide');
        $('#other_field').select();
      } else {
        $('.js-other-option').addClass('u-hide');
      };
    });

    if( $('#project_location_type_other').is(':checked')) {
      $('.js-other-option').removeClass('u-hide');
      $('#other_field').val(other_field);
    };

    <% if @restored %>
      var requiredCategories = $('.js-restore-required-categories').data('categories');
      var otherField = $('.js-restore-other-field').data('other')

      $('.js-required-categories').each(function() {
        if (requiredCategories.indexOf(this.value) > -1) {
          $(this).prop('checked', true);
        };
      });

      $('#other_field').val(otherField);
    <% end %>
  </script>
<% end %>
