<div class="modal js-projects-coming-soon">
  <div class="modal__table">
    <div class="modal__cell">
      <div class="modal__container">

        <button class="js-close-modal modal__close">
          <%= inline_svg("icons/close.svg", class: "icon") %>
        </button>

        <h2 class="modal__title"><%= t("coming_soon.project.title") %></h2>

        <div class="media media--tight mb1">
          <%= inline_svg("icons/checkmark.svg", class: "media__figure icon icon--green") %>
          <% if current_namespace == "business" %>
            <div class="media__body"><%= t("coming_soon.project.business.receive") %></div>
          <% else %>
            <div class="media__body"><%= t("coming_soon.project.user.details") %></div>
          <% end %>
        </div>
        <div class="media media--tight mb1">
          <%= inline_svg("icons/checkmark.svg", class: "media__figure icon icon--green") %>
          <% if current_namespace == "business" %>
            <div class="media__body"><%= t("coming_soon.project.business.get") %></div>
          <% else %>
            <div class="media__body"><%= t("coming_soon.project.user.receive") %></div>
          <% end %>
        </div>
        <div class="media media--tight mb1">
          <%= inline_svg("icons/checkmark.svg", class: "media__figure icon icon--green") %>
          <% if current_namespace == "business" %>
            <div class="media__body"><%= t("coming_soon.project.business.submit") %></div>
          <% else %>
            <div class="media__body"><%= t("coming_soon.project.user.get") %></div>
          <% end %>
        </div>
        <% if current_namespace == "business" %>
          <div class="media media--tight mb1">
            <%= inline_svg("icons/checkmark.svg", class: "media__figure icon icon--green") %>
            <div class="media__body"><%= t("coming_soon.project.business.revenue") %></div>
          </div>
        <% end %>

        <% unless current_user %>
          <div class="mt3">
        <p class="mb2"><%= t("coming_soon.project.notified") %></p>
            <div class="btn-group u-flex">
              <button class="btn-group__item btn btn--primary btn--full js-open-modal" data-modal="sign-up"><%= t("modal.sign_up") %></button>  
              <button class="btn-group__item btn btn--secondary btn--full js-open-modal" data-modal="log-in"><%= t("modal.log_in") %></button>  
            </div>          
          </div>

          <button class="mt2 js-close-modal u-text-underline"><%= t("please_log_in.looking_around") %></button>
        <% end %>

      </div>
    </div>
  </div>
</div>
