<button class="nav__hamburger js-mobile-nav-trigger">
  <div class="u-relative u-inline-block">
    <%= inline_svg("icons/hamburger.svg", class: "icon icon--white") %>
  </div>
</button>
<ul class="list list--inline nav__list u-hide--medium-down mb0">
  <li class="list__item">
    <%= link_to t("main_nav.add_business"), new_business_path, class: "btn btn--small btn--contrast btn--hover-red" %>
  </li>

  <%= render partial: "partials/nav/main_nav/more" %>
  

  <div class="nav__divider nav__divider--tight"></div>

  <li class="list__item">
    <button data-modal="sign-up" class="js-open-modal list__link nav__link"><%= t("main_nav.sign_up") %></button>
  </li>
  <li class="list__item">
    <button data-modal="log-in" class="js-open-modal list__link nav__link"><%= t("main_nav.log_in") %></button>
  </li>
</ul>
