<button class="nav__hamburger js-mobile-nav-trigger">
  <div class="u-relative u-inline-block">
    <%= inline_svg("icons/hamburger.svg", class: "icon icon--white") %>
  </div>
</button>
<ul class="list list--inline nav__list u-hide--medium-down mb0">
  <li class="list__item">
    <%= link_to t("main_nav.add_business"), new_business_path, class: "btn btn--small btn--contrast btn--hover-red" %>
  </li>

  <%= render partial: "partials/nav/main_nav/more" %>
    <% if locale == :en %>
    <li class="list__item">
      <h3 class="pb1"><%= link_to "ع", set_language_path(language: :ar), method: :put, class: "u-text-contrast" %></h3>
    </li>
  <% else %>
    <li class="list__item">
      <%= link_to "EN", set_language_path(language: :en), method: :put, class: "u-text-contrast" %>
    </li>
  <% end %>

  <div class="nav__divider nav__divider--tight"></div>

  <li class="list__item">
    <button data-modal="sign-up" class="js-open-modal list__link nav__link"><%= t("main_nav.sign_up") %></button>
  </li>
  <li class="list__item">
    <button data-modal="log-in" class="js-open-modal list__link nav__link"><%= t("main_nav.log_in") %></button>
  </li>
</ul>
