<nav class="nav primary-nav <%= nav_modifier %>">
  <div class="primary-nav__wrap">

    <div class="primary-nav__left">
      <a href="/<%= @current_city.present? ? I18n.with_locale(:en){ @current_city.name } : City.first.name %>" class="u-hover-muted">
        <% if controller_name == "home" %>
          <%= inline_svg(locale == :ar ?
                         "logo-ar.svg" :
                         "logo.svg", class: "nav__logo nav__logo--full-mobile") %>
        <% else %>
          <%= inline_svg("logo-mark.svg", class: "nav__logo nav__logo--mobile") %>
        <% end %>
        <%= inline_svg(locale == :ar ?
                       "logo-ar.svg" :
                       "logo.svg", class: "nav__logo nav__logo--desktop") %>
      </a>
      <div class="nav__divider u-hide--large-down"></div>

      <li class="list__item has-popover u-hide--large-down">
        <button class="js-open-popover list__link nav__link" href="#"><%= @current_city.present? ? @current_city.name : t("main_nav.choose_city") %> ▾</button>
        <div class="popover popover--wide popover--arrow">

          <% if @current_city %>
            <% @current_city.country_cities.order(:name).each do |city| %>
              <% next if city == @current_city %>
              <%= link_to city.name, city_choose_city_path(city), method: :put, class: "popover__link" %>
            <% end %>

            <a href="/countries" class="popover__link">
              <span class="u-flex u-flex-middle">
                <span class="u-text-dark u-flex-grow"><%= t("footer.countries") %></span>
                <%= inline_svg("icons/external.svg", class: "icon icon--small icon--dark") %>
              </span>
            </a>
          <% end %>
        </div>
      </li>

       <!-- unless controller_name == "home" %> -->
        <div class="field nav__search js-search-box">
          <div class="field__input-wrapper">
            <%= inline_svg("icons/search.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough field__add-on--clickthrough") %>
            <form>
              <input type="text" class="field__input field__input--small search field__input--right-add-on" placeholder="<%= t("home_page.header.search_box_placeholder") %>">
            </form>
            <%= render partial: "partials/auto_complete/default_results" %>
            <%= render partial: "partials/auto_complete/no_results" %>
          </div>
        </div>
       <!-- end %> -->
    </div>

    <div class="primary-nav__right">
      <% if current_user %>
        <%= render partial: "partials/nav/main_nav/user" %>
      <% else %>
        <%= render partial: "partials/nav/main_nav/guest" %>
      <% end %>
    </div>

  </div>
</nav>



<div class="category-mega-menu">
  <div class="site-wrap">

    <div class="toggler">
        <a href="#">Select Category</a>
        <span class="toggle-btn">
          <i class="fa fa-bars"></i>
        </span>
    </div>

    <ul class="toplevel">
      <li class="submenu-holder"><a href="#" class="active"><i class="fa fa-users" aria-hidden="true"></i> SUPPLIERS</a>
          <div class="submenu">
              <div class="list-and-see-all-container">
                <ul class="submenu-unorder-list">
                  <% supplier_sub_caegory('suppliers').each do |sub_category| %>
                    <li><%= link_to sub_category.name, sub_category_path(id: sub_category) %></li>
                  <% end %>
                </ul>
                <div class="see-all-links">
                    <a href="">See All</a>
                </div>
              </div>      
          </div>
      </li>
      <li class="submenu-holder"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> PROFESSIONALS</a>
          <div class="submenu">
              <ul class="professionals-submenu-unorder-list">
                  <h3 class="submenu-category-title">Category Title</h3>     
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <h5 class="see-all-links"><a href="#">See All</a></h5>
              </ul>
              <ul class="professionals-submenu-unorder-list">
                  <h3 class="submenu-category-title">Category Title</h3>  
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <h5 class="see-all-links"><a href="#">See All</a></h5>
              </ul>
              <ul class="professionals-submenu-unorder-list">
                  <h3 class="submenu-category-title">Category Title</h3> 
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <h5 class="see-all-links"><a href="#">See All</a></h5>
              </ul>
              <ul class="professionals-submenu-unorder-list">
                  <h3 class="submenu-category-title">Category Title</h3> 
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <li><a href="#">Professionals 2</a></li>
                  <h5 class="see-all-links"><a href="#">See All</a></h5>
              </ul>                                          
          </div>
          
      </li>
      <li class="submenu-holder"><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> MACHINERY</a>
          <div class="submenu">
              <div class="list-and-see-all-container">
                  <ul class="submenu-unorder-list">
                      <% supplier_sub_caegory('machinery').each do |sub_category| %>
                        <li><%= link_to sub_category.name, sub_category_path(id: sub_category) %></li>
                      <% end %>
                  </ul>
                  <div class="see-all-links">
                    <a href="">See All</a>
                  </div>
              </div>    
          </div>
      </li>
      <li class="submenu-holder">
      <%= link_to ('<i class="fa fa-picture-o"></i> GAllERY').html_safe, gallery_index_path %>
      </li>
      <li class="submenu-holder"><a href="#"><i class="fa fa-lock"></i> PROJECTS</a>
      </li>
      <li class="submenu-holder"><a href="#">MORE</a>
          <div class="submenu">
            <div class="list-and-see-all-container">
              <ul class="submenu-unorder-list">
                  <li><a href="#">MORE 2</a></li>
                  <li><a href="#">MORE 2</a></li>
                  <li><a href="#">MORE 2</a></li>
              </ul>
              <div class="see-all-links">
                <a href="">See All</a>
              </div>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>











<%= content_for :page_scripts do %>
  <%= javascript_include_tag 'auto_complete.js' %>

  <% if request.fullpath.ends_with?("problem") %>
    <script>
      $('.js-problem').addClass('is-visible');
    </script>
  <% end %>
<% end %>
