<div class="card">
  <div class="card__section">
    <div class="card__header">
      <h4 class="card__title"><%= inline_svg("icons/user.svg", class: "icon icon--brand icon--small") %><%= t("business_profile.fields.header.team") %></h4>
    </div>
    <fieldset class="fieldset">
      <div class="js-cocoon-partial">
        <%= f.simple_fields_for :team_members do |tm| %>
          <%= render 'partials/user/businesses/business_form_sections/field_partials/team_member_fields', f: tm %>
        <% end %>
        <div class="field">
          <div class="field__input-wrapper">
            <%= link_to_add_association t("business_profile.add_another"), f, :team_members, partial: 'partials/user/businesses/business_form_sections/field_partials/team_member_fields' %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.submit t("form.update"), class: "mt1 btn btn--primary" %>
      </div>
    </fieldset>
  </div>
</div>
