<div class="field mt2">
  <div class="field__input-wrapper">
    <%= f.input :attachment, as: :file, input_html: { class: "js-file-upload", hidden: true }, label: false %>
    <div type="text" class="field__input field-input-padding">
      <span class="u-text-light js-file-upload-name"><%= t("post_project.fields.attachments.no_file") %></span>
      <%= link_to_remove_association f, { wrapper_class: 'field__input-wrapper', class: "float-right remove-attachment-button" } do %>
        <%= inline_svg("icons/close-small.svg", class: "mr-3 icon icon--small btn__add-on") %>
      <% end %>
      <span class="float-right form-file-button btn-browse" onclick="clickBrowseProjectPhoto($(this));"><%= t("post_project.fields.attachments.browse") %></span>
    </div>
  </div>
</div>

<script>
  function clickBrowseProjectPhoto($this) {
    var uploadButton = $this.closest('.field__input-wrapper').find('.js-file-upload');
    uploadButton.click();
    $('input:file').change(function() {
      setFileUploadName($this, uploadButton)
    });
  }

  function setFileUploadName($this, uploadButton) {
    $this.parent().find('.js-file-upload-name').text(uploadButton.val().split('\\').pop());
    $this.parent().find('.remove-attachment-button').show();
    $this.hide();
  }
  
</script>
