<span class="js-cocoon-fields">
  <%= simple_form_for @project, url: @edit_path do |f| %>
    <div class="">
      <div class="">
        <div class="">
          <label for="looking-for" class="form-label">
            <%= t("post_project.project_services_needed", category: @category.name.capitalize.singularize) %>
          </label>
        </div>
      </div>
      <fieldset class="fieldset">
        <div class="grid">
          <div class="grid__col--xs-12 grid__col--md-12">
            <div class="field">
              <div class="field__input-wrapper">
                <%= inline_svg("icons/dropdown.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough") %>
                <%= f.input :project_sub_category, collection: @project.category.sub_categories.visible, selected: @project.sub_categories.present? ? @project.sub_categories.first.id : '', input_html: { class: "field__input field__input--right-add-on js-selected-subcat input-line-height", style: "height:calc(1.5em + .75rem + 2px);" }, label: false, required: true, include_blank: true %>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <%= f.simple_fields_for :project_services do |ps| %>
      <%= render "user/project_steps/item_fields", f: ps %>
    <% end %>
    <div class="mt-2 js-more">
      <%= link_to_add_association t("post_project.machinery.add_more"), f, :project_services, partial: "user/project_steps/item_fields", class: "u-text-accent" %>
    </div>
  <% end %>
</span>

<%= content_tag :span, '', class: "js-project-id", data: { id: @project.id } %>
<%= javascript_include_tag "project-services" %>

<script>
  $('.js-selected-subcat').on('change', function() {
    var selectedSubCat = $(this).val();
    $(this).val(selectedSubCat);

    filterServices($(this));
  })

  function filterServices($this) {
    if (!$this.val()) { return }
    var projectID = $('.js-project-id').data('id');

    return $.ajax({
      url: `/user/projects/${projectID}/filter_services`,
      type: 'GET',
      dataType: 'script',
      data: { sub_category_id: $this.val() }
    })

  }
</script>