<%#= render partial: "user/project_steps/item" %>
<main class="post-a-projects">

  <div class="mt-4"><!-- start breadcrumb Box -->
    <div class="container">
      <div class="row">
        <div class="col-md-9">
            <span class="custom-breadcrumb-title">Buy/Rent Machinery</span>
            <%= link_to user_profile_index_path, class: "sidebar-link" do %>
              <span class="custom-breadcrumb-title-right float-right">
                <i class="fa fa-share" aria-hidden="true"></i>
                back to dashboard
              </span>
          <% end %>
        </div>
        <div class="col-md-3">
        </div>                    
      </div>
    </div>
  </div><!-- End breadcrumb Box -->

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="form-container-background py-3 px-3 mb-4 mt-4">
          <%= f.input :required_category, input_html:{ hidden:true, value:@category.id }, label:false %>
          <!-- Project Services start -->
          <%= f.simple_fields_for :project_services do |ps| %>
            <div class="mb-4">
              <div>
                <label for="want-to-buy-and-rent" class="form-label">Buy or Rent?</label>
              </div>
              <div class="form-check form-check-inline">
                <%= ps.radio_button :option, "buy", class: "form-check-input", checked: ps.object.option == "buy" %>
                <label class="form-check-label" for="inlineCheckbox1">I wan to buy</label>
              </div>
              <div class="form-check form-check-inline">
                <%= ps.radio_button :option, 'rent', class: "form-check-input", checked: ps.object.option == "rent" %>
                <label class="form-check-label" for="inlineCheckbox2">I want to rent</label>
              </div>
            </div><!-- End field -->

            <div class="mb-4"><!-- start field -->
              <div>
                <label for="looking-for" class="form-label">What type of machinery are you looking for?</label>
              </div>
              <%= f.input :project_sub_category, collection: @project.category.sub_categories.visible, selected: @project.sub_categories.present? ? @project.sub_categories.first.id : '', input_html: { class: "form-select js-selected-subcat", aria: { label: "Default select example" }, style: "height:calc(1.5em + .75rem + 2px);" }, label: false, required: true, include_blank: true %>
            </div><!-- End field -->

            <div class="mb-4"><!-- start field -->
              <div>
                <label for="specify-your-needs." class="form-label">Specify Your Needs.</label>
              </div>
              
              <ul class="three-column-checkbox-list"></ul>
            </div><!-- End field -->

            <div class="mb-4"><!-- start field -->
              <label for="how-many" class="form-label">How many?</label>
              <%= ps.input :quantity, input_html: { class: "field__input form-control", style: "height:calc(1.5em + .75rem + 2px);" }, label: false %>
            </div><!-- End field -->
          <% end %>
          <!-- Project Services end -->

          <!-- Project field start -->
          <div class="mb-4">
            <label for="request-title" class="form-label">Title of your request</label>
            <%= f.input :title, wrapper: :text_field, input_html: { style: "height:calc(1.5em + .75rem + 2px);" }, placeholder: "I need:",label: false, required: true %>
          </div>

          <div class="mb-4">
            <label for="describe-your-request" class="form-label">Describe your request in more detail</label>
            <%= f.input :description, as: :text, wrapper: :text_area, placeholder: t("post_project.fields.description.placeholder"), input_html: { class: "form-control", id:"describe-your-request" }, label:false, required: true %>
          </div>

          <div class="mb-4"><!-- start field -->
            <div>
              <label for="Requirements" class="form-label">Requirements</label>
            </div>
            <ul class="two-column-checkbox-list">
            <% @project_types.each_with_index do |project_type, index|%>
              <li>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox<%= index + 1 %>" value="<%= project_type.id %>" name="project[project_type_ids][]">
                  <label class="form-check-label" for="inlineCheckbox<%= index + 1 %>"><%= project_type.name %></label>
                </div>
              </li>
            <% end %>
            </ul>
          </div>
          <!-- Project field end -->

          <!-- Project Location field start -->
          <div class="mb-4"><!-- start field -->
            <label for="Location" class="form-label">Location</label>
            <%= f.simple_fields_for :location do |l| %>
              <div class="input-group">
                <div class="col-md-5">
                  <% if l.object.new_record? %>
                    <%= l.input :country_for_select, collection: @countries, input_html: { class: " rails-country-for-select form-control mb-3", id: "country", style: " width:100%; height:calc(1.5em + .75rem + 2px);"}, required: true,  placeholder: "Country"  %>
                  <% else %>
                    <%= l.input :country_for_select, collection: @countries, placeholder: "Country",  input_html: { class: "rails-country-for-select form-control mb-3", id: "country", style: "width:100%; height:calc(1.5em + .75rem + 2px);"}, required: true, selected: l.object.city.country.id, placeholder: "Country"  %>
                  <% end %>
                  
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">                  
                  <%= l.input :city_id, collection: @cities, placeholder: "City", input_html: { class: " js-city rails-display-cities form-control mb-3", id:"city", style: "width:100%; height:calc(1.5em + .75rem + 2px);" }, required: true, placeholder: "City" %>
                </div>
              </div>
              <%= l.input :street_address, wrapper: :text_field, input_html: { class: "js-street-address form-control", id:"street-address", style: "height:calc(1.5em + .75rem + 2px);" }, required: true, label:false, placeholder: "Street address" %>
              <%#= render partial: "partials/location/choose_location", locals: { l: l } %>
            <% end %>
            <p class="text-warning">Pick location on the map instead</p>
          </div>
          <!-- Project Location field end -->

          <div class="mb-4"><!-- start field -->
            <div>
              <label for="estimate-budget" class="form-label">Estimate budget</label>
            </div>

            <div class="input-group" id="estimate-budget-container">
              <div class="col-md-1 input-group-text" >
                <%= f.input :currency_type, collection: Project.i18n_enum_collection(:currency_types), as: :select, input_html: { class: "form-select", aria: { label: "Timeline" }, style: "height:calc(1.5em + .75rem + 2px);" }, label: false, required: true, include_blank: true %>
              </div>
              <div class="col-md-11"> 
                <%= f.input :project_budget, selected: @project.project_budget.present? ? @project.project_budget : '', input_html: { class: "form-select", aria: {label: "Timeline"}, style: "width:100%" }, label: false, required: true %>
              </div>
            </div>
          </div><!-- end field --> 


          <div class="mb-4"><!-- start field -->
            <div>
              <label for="timeline" class="form-label">Timeline</label>
            </div>

            <div class="input-group">
              <div class="col-md-4">
                <%= f.input :timeline_type, collection: Project.i18n_enum_collection(:timeline_types), as: :select, input_html: { class: "form-select", aria: { label:'Timeline' }, style: "height:calc(1.5em + .75rem + 2px);" }, label: false, required: true %>
              </div>
              <div class="col-md-4">
                <%= f.input :start_date, wrapper: :date_picker, as: :date_picker_future, input_html: { class: "form-select", aria: { label:'Timeline' }, autocomplete: "off",  style: "height:calc(1.5em + .75rem + 2px);" }, label:false, autocomplete:false,  required: true %>
              </div>
              <div class="col-md-4">
                <%= f.input :end_date, wrapper: :date_picker, as: :date_picker_future, input_html: { class: "form-select", autocomplete: "off", aria: { label:'Timeline' }, style: "height:calc(1.5em + .75rem + 2px);" },label:false, autocomplete:false, required: true %>
              </div>

            </div>
          </div><!-- end field --> 

          <div class="mb-4"><!-- start field -->
            <div>
              <label for="attachments" class="form-label">Attachments (jpg, jpeg, png, pdf)</label>
            </div>
            <%= f.simple_fields_for :attachments do |attachment| %>
              <%= render 'user/project_steps/attachment_fields', f: attachment %>
            <% end %>
            <div class="mt-3">
              <%= link_to_add_association t("post_project.fields.attachments.add_attachment"), f, :attachments, partial: "user/project_steps/attachment_fields", class: "text-warning" %>
            </div>
            
          </div><!-- end field -->
          
          <div class="mb-4 text-center">
            <%= f.submit "Publish",  class: "btn btn-primary" %>
          </div>      
        </div>
      </div> <!--End col-md-8  -->

      <div class="col-md-3 mt-4"><!--start col-md-4  -->
        <div class="btn btn-outline-primary btn-block">
          Hire professional
        </div>
        <div class="btn btn-outline-primary btn-block mb-4">
          Get suppliersmore
        </div>   
      </div><!--End col-md-4  -->
    </div> <!-- End row -->
  </div> <!-- End container -->
</main>

<%= content_tag :span, '', class: "js-project-id", data: { id: @project.id } %>
<%= content_tag :span, '', class: 'js-current-location', data: { coordinates: @current_coordinates } %>


<script>
  $('.js-selected-subcat').on('change', function() {
    var selectedSubCat = $(this).val();
    $(this).val(selectedSubCat);

    filterServices($(this));
  })

  function filterServices($this) {
    if (!$this.val()) { return }
    var projectID = $('.js-project-id').data('id');

    return $.ajax({
      url: `/user/projects/${projectID}/filter_services`,
      type: 'GET',
      dataType: 'script',
      data: { sub_category_id: $this.val() }
    })

  }

  $(function() {
    toggleCitySelection();
    return $(document).on('input', '.rails-country-for-select', function(e) {
      var $this = $(this);
  
      return $.ajax({
        url: '/filter_cities',
        type: 'GET',
        dataType: 'script',
        data: {
          country_for_select: $this.val(),
          target_element: $this.uniqueId().attr('id')
        }
      });
    });

  });

  function toggleCitySelection() {
    var countrySelect = $('.rails-country-for-select');
  
      if($(countrySelect).val()) {
        setTimeout(function () { $('.js-city').prop('disabled', false) }, 1000);
      } else {
        $('.js-city').prop('disabled', true);
      }
  }
  
  $('.rails-country-for-select').on('input', toggleCitySelection);

</script>