<!-- New -->
<%= simple_form_for @project, url: @edit_path do |f| %>

  <div class="">
    <div class="">
      <div class="">
        <label for="looking-for" class="form-label">
          <%= t("post_project.project_services_needed", category: @category.name.capitalize.singularize) %>
        </label>
      </div>
    </div>
    <fieldset class="fieldset">
      <div class="grid">
        <div class="grid__col--xs-12 grid__col--md-12">
          <div class="field">
            <div class="field__input-wrapper">
              <%= inline_svg("icons/dropdown.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough") %>
              <%= f.input :project_services, collection: @project.category.sub_categories.visible, selected: @project.sub_categories.present? ? @project.sub_categories.first.id : '', input_html: { class: "field__input field__input--right-add-on js-selected-subcat", style: "height:calc(1.5em + .75rem + 2px);"  }, label: false, required: true, include_blank: true %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <% @category.sub_categories.visible.each do |sub_category| %>
    <div class="js-select-services <%= 'u-hide' unless @project.sub_categories.include?(sub_category) %>" data-sub-cat="<%= sub_category.id %>">
      <div class="">
        <div class="">
          <label for="looking-for" class="form-label mt-3">
            <%= sub_category.name.singularize %> <%= t("words.services") %>
          </label>
        </div>
      </div>
      <fieldset class="fieldset">
        <div class="grid">
          <div class="grid__col--xs-12 grid__col--md-12">
            <div class="field">
              <label class="field__label">* <%= t("post_project.project_services") %></label>
              <%= f.association :services, collection: sub_category.services.visible, selected: @project.services.pluck(:id), input_html: { multiple: true, style: "width:100%", class: "js-selected-services" }, wrapper: :select2, label: false %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
<% end %>

<% if @project.present? %>
  <%= content_tag :span, '', class: "js-project-subs", data: { sub_cats: @project.sub_categories.map{ |sub_cat| I18n.with_locale(:en){ sub_cat.name.gsub(" ", "").downcase } } } %>
<% end %>

<%#= content_for :page_scripts do %>
<script>

  var selectedSubCat = '';

  $('.js-selected-services').on('change', function() {
    if($(this).val() && $(this).val().length) {
      $('.js-submit').prop('disabled', false)
    }
  });

  $('.js-submit').prop('disabled', true)
  
  $('.js-selected-subcat').on('change', function() {
    selectedSubCat = parseInt($(this).val());
    $.each($('.js-select-services'), function() {

      if ($(this).data('sub-cat') === selectedSubCat) {
        $(this).removeClass('u-hide')
      } else {
        $(this).addClass('u-hide');
        // $(this).find('select').val('').change();
      }
    })
  });
</script>
