$('.rails-display-services').last().empty()
.append("<option disabled selected value></option")
.append("<%= escape_javascript(render(:partial => @services)) %>")


$('.three-column-checkbox-list').empty()
.append("<% @services.each_with_index do |service, index|%><li><div class='form-check'><input class='form-check-input' type='checkbox' id='inlineCheckbox<%= index + 1 %>' value='<%= service.id %>' name='project[project_services_attributes][<%= index %>][service_id]'><label class='form-check-label' for='inlineCheckbox<%= index + 1 %>'><%= service.name %></label></div></li><% end %>");