<section class="section section--alt grid__col--xs-12 grid__col--md-9">
  <div class="site-wrap">
    <div class="grid grid--middle">
      <div class="grid__col--xs-12">
        <div class="breadcrumbs mb3">
          <%= link_to @project.title, user_project_path(@project), class: "breadcrumbs__item" %>
          <span class="breadcrumbs__item breadcrumbs__item--current"><span class="u-text-dark"><%= @business.name %></span></span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__section card__section--border">
        <div class="grid mb3">
          <div class="grid__col--xs-12 grid__col--md-8">
            <h2><%= @project.title %></h2>
          </div>
          <% if @active %>
            <div class="grid__col--xs-12 grid__col--md-4 u-text-right--medium">
              <small><%= t("feed.shortlisted") %> <%= (@project.shortlists.count > 0 ? @project.shortlists.count - 1 : 0) %> <%= t("feed.others") %></small>
            </div>
          <% end %>
        </div>
        <div class="grid grid--v-padded">
          <div class="grid__col--xs-12 grid__col--md-6 grid__col--lg-flex">
            <div class="media media--middle">
              <div class="media__figure">
                <%= image_tag @business.logo.url(:small), class: "avatar" %>
              </div>
              <div class="media__body">
                <strong class="u-block mb0"><%= @business.name %></strong>
                <% if @business.locations.present? %>
                  <p><%= @business.location_for_to_s(@project.city) %></p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="grid__col--xs-12 grid__col--md-6 grid__col--lg-flex">
            <div class="u-flex u-flex-middle">
              <%= inline_svg("icons/phone.svg", class: "icon icon--brand icon--small") %>&nbsp;<a class="u-text-dark" href="tel:<%= @business.telephone %>"><%= @business.telephone %></a>
            </div>
            <div class="u-flex u-flex-middle">
              <%= inline_svg("icons/email.svg", class: "icon icon--brand icon--small") %>&nbsp;<a class="u-text-dark" href="mailto:<%= @business.email %>"><%= @business.email %></a>
            </div>
          </div>
          <%= render partial: "partials/projects/controls/user_project_controls" %>
        </div>
      </div>
    </div>
    <div class="grid">
      <%= render partial: "partials/conversation/project_conversation", locals: { url: user_messages_path(p: @project, b: @business) } %>
      <%= render partial: "partials/projects/details/project_details_active" %>
      <% if @project.attachments.present? %>
        <div class="card">
          <div class="card__section card__section--padded">
            <div class="grid grid--v-padded">
              <% @project.attachments.each do |attachment| %>
                <div class="grid__col--xs-6 grid__col--sm-4 grid__col--lg-3">
                  <%= image_tag(attachment.attachment.url, class: "u-rounded-half", size: "400x300") %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</section>
