<div class="grid__col--xs-12 grid__col--md-12 mb2">
  <h3><%= link_to 'Projects /', admin_projects_path,  class: 'u-text-light u-text-regular' %> <%= @project.title %></h3>
</div>


<div class="grid grid--center">
  <div class="grid__col--xs-12 grid__col--md-12 grid__col--lg-12">
    <div class="js-project-tabs">
      <%= render partial: "edit_menu" %>

      <div id="tabs_general">
        <%= simple_form_for [:admin, @project] do |f| %>
          <%= render partial: "partials/projects/admin_project_form", locals: { f: f, disabled: true } %>
        <% end %>
      </div>

      <div id="tabs_services">
        <% if I18n.with_locale(:en){ @project.category.name == "Machinery" } %>
          <%= render partial: "user/project_steps/machinery" %>
        <% elsif I18n.with_locale(:en){ @project.category.name == "Suppliers" } %>
          <%= render partial: "user/project_steps/suppliers" %>
        <% else %>
          <%= render partial: "user/project_steps/service_fields" %>
        <% end %>
      </div>

      <div id="tabs_matching_businesses">
        <%= render partial: 'matching_businesses' %>
      </div>

      <% if @interactions.present? %>
        <div id="tabs_interactions">
          <%= render partial: 'interactions' %>
        </div>
      <% end %>

      <% if @project.review.present? %>
        <div id="tabs_review">
          <%= render partial: 'review' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<% if params[:tab].present? %>
  <%= content_tag :span, '', class: "js-linked-tab", data: { tab: params[:tab] } %>
<% end %>

<script>

  $('.edit_project').on('submit', function() {
    localStorage.setItem('currentTab', $('.js-project-tabs').tabs('option', 'active'));
  });

  $(function() {

    $('.js-project-tabs').tabs({
      active: localStorage.getItem('currentTab'),
      load: localStorage.removeItem('currentTab')
    });

    if ($('.js-linked-tab').data('tab')) {
      tab = $('.js-linked-tab').data('tab');
      $('a[href="' + tab + '"]').click();
    }

  });
</script>

