<div class="card">
  <div class="card__section">
    <div class="grid grid--v-padded">
      <div class="grid__col--xs-12 grid__col--md-12 grid__col--lg-12">
        <h4><%= t("projects.business_instructions.blurb") %></h4>
      </div>
      <div class="grid__col--xs-12 grid__col--md-12 grid__col--lg-12">
        <%= inline_svg("icons/checkmark.svg", class: "icon icon--green") %>
        <%= t("projects.business_instructions.step_one") %>
      </div>
      <div class="grid__col--xs-12 grid__col--md-12 grid__col--lg-12">
        <%= inline_svg("icons/checkmark.svg", class: "icon icon--green") %>
        <%= t("projects.business_instructions.step_two") %>
      </div>
      <div class="grid__col--xs-12 grid__col--md-12 grid__col--lg-12">
        <%= inline_svg("icons/checkmark.svg", class: "icon icon--green") %>
        <%= t("projects.business_instructions.step_three") %>
      </div>
      <div class="grid__col--xs-12 grid__col--md-12 grid__col--lg-12">
        <%= inline_svg("icons/checkmark.svg", class: "icon icon--green") %>
        <%= t("projects.business_instructions.step_four") %>
      </div>
    </div>
  </div>
</div>


