<section class="section section--alt">
  <h1><%= t("no_cities.header") %></h1>
  <div class="site-wrap u-text-center">
    <p><%= t("no_cities.header") %></p>
    <p><%= t("no_cities.line_one") %></p>
    <p><%= t("no_cities.line_two") %></p>
    <p><%= t("no_cities.line_three") %></p>
  </div>
</section>
