<div class="js-featured-project js-cocoon-fields u-hide featured_project_field featured_project-<%= f.object.id %>">
  <div id="featured_project-fields-<%= f.object.id %>">
    <div class="card__section card__section--border js-toggle-target">
      <fieldset class="fieldset">
        <div class="grid">
          <div class="grid__col--xs-12 grid__col--md-12 mb4">
            <div>
              Add Media Files(upto 5)
            </div>
          </div>
          <div class="grid__col--xs-12 grid__col--md-12 mb4">
            <div class="grid">
              <div class="grid__col--xs-4 grid__col--md-3 card field js-upload-fields u-text-center ml2">
                <div class="">
                  <div class="field__input-wrapper p3">
                    <%= f.input :image_one, as: :file, input_html: { class: "js-file-upload", hidden: true }, label: false %>
                    <a class="js-file-upload-button "><i class="fa fa-plus-circle gallery-icon--size-color" aria-hidden="true"></i>
                      <div type="text" class="js-file-upload-name">
                        <span class="u-text-light js-file-upload-name"><%= f.object.image_one.present? ? f.object.image_one_file_name : 'upload photo' %></span>
                      </div>
                    <!--<div type="text" class="field__input js-file-upload-name">
                      <span class="js-file-upload-name"></span>
                    </div>-->
                    </a>
                  </div>
                </div>
              </div>
              <div class="grid__col--xs-4 grid__col--md-3 card field js-upload-fields u-text-center ml2">
                <div class="">
                  <div class="field__input-wrapper p3">
                    <%= f.input :image_two, as: :file, input_html: { class: "js-file-upload", hidden: true }, label: false %>
                    <a class="js-file-upload-button"><i class="fa fa-plus-circle gallery-icon--size-color" aria-hidden="true"></i>
                      <div type="text" class="js-file-upload-name">
                        <span class="u-text-light js-file-upload-name"><%= f.object.image_two.present? ? f.object.image_two_file_name : 'upload photo '%></span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="grid__col--xs-12 grid__col--md-3 card field js-upload-fields u-text-center ml2 ">
                <div class="">
                  <div class="field__input-wrapper p3">
                    <%= f.input :image_three, as: :file, input_html: { class: "js-file-upload", hidden: true }, label: false %>
                    <a class="js-file-upload-button"><i class="fa fa-plus-circle gallery-icon--size-color" aria-hidden="true"></i>
                      <div type="text" class="js-file-upload-name">
                        <span class="u-text-light js-file-upload-name"><%= f.object.image_three.present? ? f.object.image_three_file_name : 'upload photo' %></span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% I18n.available_locales.each do |locale| %>
            <div class="grid__col--xs-12 grid__col--md-6 mb4">
              <%= f.input "title_#{ locale }", wrapper: :text_field, label: " #{ t("business_profile.fields.featured_projects.title.label", locale: locale) } (#{ locale })", input_html: { class: input_text_direction(locale) }, required: true %>
            </div>
          <% end %>
          <% I18n.available_locales.each do |locale| %>
            <div class="grid__col--xs-12 grid__col--md-12 mb4">
              <%= f.input "description_#{ locale }", as: :text, wrapper: :text_area, label: " #{ t("business_profile.fields.featured_projects.description.label", locale: locale) } (#{ locale })", input_html: { class: input_text_direction(locale) }, required: true %>
            </div>
          <% end %>
          <div class="grid__col--xs-12 grid__col--md-6 mb4">
            <%= f.input :video_link, wrapper: :text_field, label: t("business_profile.fields.featured_projects.video_link.label"), required: false %>
          </div>
        </div>
        <div class="grid">
          <div class="grid__col--xs-12 grid__col--md-6">
            <%= link_to "Cancel", business_business_switch_form_section_path(@business, section: "featured_projects"), data: { section: "featured_projects" }, class: "mt1 btn btn--secondary btn--update", remote: true, method: :put %>
          </div>
          <div class="grid__col--xs-12 grid__col--md-6 u-text-right">
            <%= f.submit 'Publish', class: "mt1 btn btn--primary btn--update" %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
