<% owner =  item.is_a?(Attachment) ? item.owner : item %>
<% multi_image = false %>
<% video = false %>
<% if item.is_a?(Business) %>
  <% images = [item.banner] %>
<% elsif item.is_a?(Attachment) %>
  <% images = [item.attachment] %>
<% elsif item.is_a?(SelfAddedProject) && (item.photos.present? || item.video_link.present?) %>
    <% if item.photos.present? %>
      <% multi_image = false %>
      <% images = item.photos %>
    <% end %>
    <% if item.video_link.present? %>
      <% video = true %>
      <% images = [get_thumbnail(item.video_link)] %>
    <% end %>
<% end %>

<div class="product-card">
  <div class="product-card-thumbnail">
    <% div_id = "single-product-image-carousel_#{item.id}" %>
    <div id="<%= div_id%>" class="single-product-image-carousel carousel carousel-dark slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <% images.each_with_index do |img, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <% img_url = video ? images[0] : img.url(:large) %>
            <% if video %>
              <%= image_tag img_url, class: "d-block w-100", data: { modal: "video-player", "video-link": item.video_link } %>
            <% else %>
              <%= image_tag img_url, class: "d-block w-100 js-open-modal", data: { photolink: img_url, modal: "image-viewer" } %>
            <% end %>

          </div>
        <% end %>
      </div>
      
      <% if images.size > 1 %>
        <a class="carousel-control-prev" href="#<%= div_id%>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!-- <span class="visually-hidden">Previous</span> -->
        </a>
        <a class="carousel-control-next" href="#<%= div_id%>" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <!-- <span class="visually-hidden">Next</span> -->
        </a>
        <ol class="carousel-indicators">
          <% images.each_with_index do |img, index| %>
            <li data-target="#<%= div_id%>" data-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>"></li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
  <div class="product-name-and-footer-container">
    <div class="product-card-name-and-by-container">
      <div class="product-card-product-name"><%= gallery_tile_title(owner) %></div>
      <div class="product-card-product-by">
        <%= link_to business_path(id: gallery_item_slug(owner), city: @current_city.slug, targetSection: 'projects-all'), class: '' do %>
        <%= gallery_tile_company(owner) %>
          <%end%>
        </div>
    </div>

    <div class="product-card-footer-container">
      <div class="favorite-share-and-add-button-container">
        <div class="product-action-button" id="<%=item.class.name  %><%=item.id  %>">
          <%= like_gallery_button(item) %>
          <%= item.favoratable_count %>
        </div>
        <div class="product-action-button has-popover">
          <i class="fa fa-share-alt js-open-popover " aria-hidden="true"></i>
          <div class="popover popover--right">
            <%= link_to 'facebook', fb_share_url(owner), class: "popover__link", target: "_blank" %>
            <%= link_to "linkedin", linkedin_share_url(owner), class: "popover__link", target: "_blank" %>
            <%= link_to "whatsapp", whatsapp_share_url(owner), class: "popover__link", target: "_blank" %>
            <%= link_to "twitter", twitter_share_url(owner), class: "popover__link", target: "_blank" %>
            <%= link_to "Mail", "mailto:?subject=&body=" + business_share_url(owner), class: "popover__link", target: "_blank" %>
          </div>
        </div>
      </div>
      <div class="save-button-container"><%= t('gallery.save') %></div>
    </div>
  </div>
</div>
