<% owner =  item.is_a?(Attachment) ? item.owner : item %>
<% multi_image = false %>
<% video = false %>
<% if item.is_a?(Business) %>
  <% images = [item.banner] %>
<% elsif item.is_a?(Attachment) %>
  <% images = [item.attachment] %>
<% elsif item.is_a?(SelfAddedProject) && (item.photos.present? || item.video_link.present?) %>
    <% if item.photos.present? %>
      <% multi_image = false %>
      <% images = item.photos %>
    <% end %>
    <% if item.video_link.present? %>
      <% video = true %>
      <% images = [get_thumbnail(item.video_link)] %>
    <% end %>
<% end %>

<div class="product-card">
    <div class="wrapper">
      <% urls = images.map {|img| img.url(:large)} unless video %>
      <div class="custom_carousel" data-images="<%= urls.to_json unless video %>">
        <% images.each_with_index do |img, index| %>
          <div>
            <% img_url = video ? images[0] : img.url(:large) %>
            <% if video %>
              <%= image_tag img_url, class: "d-block w-100", data: { modal: "video-player", "video-link": item.video_link } %>
            <% else %>
              <%= image_tag img_url, class: "d-block w-100 js-open-modal", data: { modal: "image-viewer", index: index } %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  <div class="product-name-and-footer-container">
    <div class="product-card-name-and-by-container">
      <div class="product-card-product-name"><%= gallery_tile_title(owner) %></div>
      <div class="product-card-product-by">
        <%= link_to business_path(id: gallery_item_slug(owner), city: @current_city.slug, targetSection: 'projects-all'), class: '' do %>
        <%= gallery_tile_company(owner) %>
          <%end%>
        </div>
    </div>

    <div class="product-card-footer-container">
      <div class="favorite-share-and-add-button-container">
        <div class="product-action-button" id="<%=item.class.name  %><%=item.id  %>">
          <%= like_gallery_button(item) %>
          <%= item.favoratable_count %>
        </div>
        <div class="product-action-button has-popover">
          <i class="fa fa-share-alt js-open-popover " aria-hidden="true"></i>
          <div class="popover popover--right popover--arrow popover--arrow-ne">
            <%= link_to fb_share_url(owner), class: "popover__link", target: "_blank" do %>
              <%= inline_svg("icons/facebook.svg", class: "social-share__icon icon icon--small") %> Facebook
            <% end %>
            <%= link_to google_share_url(owner), class: "popover__link", target: "_blank", title: "Share on Google+" do %>
              <%= inline_svg("icons/google_plus.svg", class: "social-share__icon icon icon--small") %> Google+
            <% end %>
            <%= link_to linkedin_share_url(owner), class: "popover__link", target: "_blank", title: "Share on LinkedIn" do %>
              <%= inline_svg("icons/linkedin.svg", class: "social-share__icon icon icon--small") %> LinkedIn
            <% end %>
            <%= link_to whatsapp_share_url(owner), class: "popover__link", target: "_blank", title: "Share on Whatsapp" do %>
              <%= inline_svg("icons/whatsapp.svg", class: "social-share__icon icon icon--small") %> WhatsApp
            <% end %>
            <%= link_to twitter_share_url(owner), class: "popover__link", target: "_blank", title: "Share on Twitter" do %>
              <%= inline_svg("icons/twitter.svg", class: "social-share__icon icon icon--small icon--twitter") %>
              <small class="social-share__label"><%= t("phrases.share_twitter") %></small>
            <% end %>
            <%= link_to "mailto:?subject=&body=" + business_share_url(owner), class: "popover__link", target: "_blank", title: "Share on Email" do %>
              <%= inline_svg("icons/email.svg", class: "social-share__icon icon icon--small") %> Email
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
