<main class="gallery-page">
  <!-- start breadcrumb Box -->
  <% content_for :breadcrumbs do %>
  <%= render partial: 'partials/nav/breadcrumb_nav', locals: { breadcrumbs: [], current_breadcrumb: { name: "Gallery" } } %>
<% end %>

  <div class="gallery-page-heading-with-background-image">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="page-heading"><%= t("gallery.header") %></h1>
          <p class="page-heading-description"><%= t("gallery.blurb") %></p>
        </div>
      </div>
    </div>
  </div><!--
  <section class="section section--dark u-cover u-text-center" style="background-image: url('<%#= image_path('add-business-header.jpg') %>')">
    <div class="site-wrap">
      <div class="section-heading">
        <h1 class="section-heading__heading u-text-contrast"><%#= t("gallery.header") %></h1>
        <h3 class="section-heading__subheading u-text-contrast"><%#= t("gallery.blurb") %></h3>
      </div>
    </div>
  </section> -->

  <div class="site-wrap">
    <!-- Start Row -->



    <div class="toggler">
      <a href="#">Gallery Categories</a>
      <span class="toggle-btn">
        <i class="fa fa-bars"></i>
      </span>
    </div>
    <ul class="toplevel">
      <li class="submenu-holder"><a href="#" class="active">MACHINERY</a>
          <div class="submenu">
              <ul>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 1</a></li>
              </ul>

          </div>
      </li>
      <li class="submenu-holder"><a href="#">INTERIOR DESIGN</a>
          <div class="submenu">
              <ul>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
              </ul>
              <ul>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
              </ul>

          </div>
      </li>

</ul>



















    <div class="row category-buttons">
      <!--  -->
      <div class="col-md-12 text-center">
        <ul class="gallery-category-filters">
        <% gallery_categories.each do |category| %>
          <li class="gallery-category-items">

              <%= link_to t(category[0]), gallery_index_path(category_type: category[1]),
                  class: "#{'active' if params[:category_type] == category[1]}" %>

          </li>
        <% end %>
        </ul>
      </div>
      <!--  -->
    </div>

    <div class="row">
      <div class="gallery-page-product-list">
        <% @gallery_items.each do |item| %>
          <%= render partial: "gallery/gallery_product", locals: { item: item } %>
        <% end %>
      </div>
    </div>
    <% if @gallery_items.next_page.present? %>
      <div class="row">
        <div class="col-md-12 text-center pagination-load-more">
          <%= link_to t('gallery.show_more'), gallery_index_path(page: @gallery_items.next_page, category_type: params[:category_type]), remote: true, data: { "disable-with": t('gallery.loading') }, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</main>
