<div class="filterListBoxBody">
  <% if project_feed.present? %>
    <% project_feed.each do |project| %>
      <div class="card">
        <div class="filterList">
          <%= image_tag  "icons/fallback/#{project.category&.slug}.png" %>
          <div class="filterListContent">
            <ul>
              <%= link_to project_feed_path(project), class: "u-text-inherit" do %>
                <li>
                  <h3><%= project.title %> 
                    <% if project.approved %>
                    - <span style="color:green;"> <%= t("projects.approved") %></span>
                    <% end %>
                  </h3>
                </li>
              <% end %>
              <li>
                <span>(<%= project.project_budget %>)</span>  <mark><span><%= project.creation_status %></span></mark>
              </li>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i> <%= project.location.present? ? project.location.city_country : " " %>
              </li>
              <li>
                <i class="fa fa-tags" aria-hidden="true"></i> <%= project.category&.name %>, <%= project.sub_categories.present? ? project.sub_categories.map(&:name).join(", ") : '' %>
              </li>
              <li>
                <i class="fa fa-info-circle" aria-hidden="true"></i> <%= project.timeline_type %>
              </li>
              <li>
                <i class="fa fa-sticky-note" aria-hidden="true"></i> <%= !project.description.nil? && project.description.size > 320 ? project.description[0..320] + '...' : project.description %>
              </li>
              <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i><%= project.created_at.strftime("%d/%m/%Y")%>
              </li>
            </ul>
          </div>
          <div class="filterListAction">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card">
      <div class="card__section">
        <p><%= t("feed.no_projects") %></p>
      </div>
    </div>
  <% end %>
</div>