<%if ["machinery","supplier", "suppliers"].include?@category_name.to_s.downcase%>
<%= render partial: "user/project_steps/sub_projects_forms/project_form_custom", locals: { f: f } %>
<%else %>
<div class="custom-edit-project grid grid--center js-location-fields">
  <div class="grid__col--xs-12 grid__col--md-10 grid__col--lg-<%= action_name == 'edit' ? '8' : '8' %> ">
    <div class="card">

      <div class="card__section card__section--padded">
        <% unless current_admin %>
        <div class="mb2">
          <small><%= t("post_project.prompt.post") %></small>
        </div>
        <% end %>


        <% unless["suppliers","machinery"].include?@category_name%>
        <div class="categories_select">


          <% Category.order_by_type.first(4).each_with_index do |category| %>
          <div data-category="<%=category.id%>" data-project="<%=@project.id%>"
            class="category_select_item  <%=category.id==@category.id ? 'category_selected' : '' %>">
            <div class="category_img">

              <%=image_tag "#{I18n.with_locale(:en) { category.name}.singularize.downcase}.png"%>

            </div>
            <h5> <%=category.name%> </h5>

            <div>
              <%=I18n.with_locale(:en) { category.category_head_description.join(",") } %>
            </div>
          </div>
          <%end%>


        </div>
        <%end%>

        <%= f.hidden_field  :required_category,value: @category.id, class: "product_hidden_category" %>
        <!--end ofcategories_select-->

      </div>
      <div class="card__section card__section--padded category_all_temp" id="category_details_all">


        <div class="grid">


          <%= render partial: I18n.with_locale(:en) { @category.name.downcase }  ,locals: { f: f } %>
        </div>

      </div>
      <div class="card__section card__section--padded">
        <div class="card__header">
          <h4 class="card__title">
            <%= inline_svg("icons/briefcase.svg", class: "icon icon--dark icon--small") %><%= t("post_project.header.general") %>
          </h4>
        </div>
        <fieldset class="fieldset">
          <div class="grid">
            <div class="grid__col--xs-12 grid__col--md-12">
              <div class="field">
                <%= f.input :title, wrapper: :text_field, placeholder: t("post_project.fields.project_name.placeholder"), label: t("post_project.fields.project_name.label"), required: true %>
              </div>
            </div>

            <div class="grid__col--xs-12 grid__col--md-12">
              <div class="field">
                <div class="field__input-wrapper">
                  <%= f.input :description, as: :text, wrapper: :text_area, placeholder: t("post_project.fields.description.placeholder"), label: t("post_project.fields.description.label"), required: true %>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="card__header">
          <div class="card__title">
            <h4 class="card__title">
              <%= inline_svg("icons/paint.svg", class: 'icon icon--dark icon--small') %><%= t("post_project.project_type") %>
            </h4>
          </div>
        </div>
        <fieldset class="fieldset mgb10">
          <div class="grid">
            <div class="grid__col--xs-12 grid__col--md-12">
              <%= f.association :project_types, collection: @project_types.uniq, selected: @project.project_types.pluck(:id), input_html: { style: "width:100%", multiple: true }, wrapper: :select2, label: false %>
              <%# end%>
            </div>
          </div>
        </fieldset>
        <div class="card__header">
          <h4 class="card__title">
            <%= inline_svg("icons/location.svg", class: "icon icon--dark icon--small") %><%= t("post_project.header.location") %>
          </h4>
        </div>
        <fieldset class="fieldset">
          <div class="grid">
            <%= f.simple_fields_for :location do |l| %>
            <%= render partial: "partials/location/choose_location", locals: { l: l } %>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="card__section card__section--padded">
        <div class="card__header">
          <h4 class="card__title">
            <%= inline_svg("icons/pencil.svg", class: "icon icon--dark icon--small") %><%= t("post_project.header.details") %>
          </h4>
        </div>
        <fieldset class="fieldset">
          <div class="grid">
            <div class="grid__col--xs-12 grid__col--xlg-6">
              <div class="field">
                <label class="field__label">* <%= t("post_project.fields.currency.label") %></label>
                <div class="field__input-wrapper">
                  <%= inline_svg("icons/dropdown.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough") %>
                  <%= f.input :currency_type, collection: Project.i18n_enum_collection(:currency_types), as: :select, input_html: { class: "field__input field__input--right-add-on" }, label: false, required: true, include_blank: true %>
                </div>
              </div>
            </div>
            <div class="grid__col--xs-12 grid__col--xlg-6">
              <div class="field">
                <label class="field__label">* <%= t("post_project.fields.budget.label") %></label>
                <div class="field__input-wrapper">
                  <%= inline_svg("icons/dropdown.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough") %>
                  <%= f.input :project_budget, selected: @project.project_budget.present? ? @project.project_budget : '', input_html: { class: "field__input field__input--right-add-on" }, label: false, required: true, include_blank: true %>
                </div>
              </div>
            </div>
            <div class="grid__col--xs-12 grid__col--xlg-6">
              <div class="field">
                <label class="field__label">* <%= t("post_project.fields.timeline.label") %></label>
                <div class="field__input-wrapper">
                  <%= inline_svg("icons/dropdown.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough") %>
                  <%= f.input :timeline_type, collection: Project.i18n_enum_collection(:timeline_types), as: :select, input_html: { class: "field__input field__input--right-add-on" }, label: false, required: true, include_blank: true %>
                </div>
              </div>
            </div>
            <div class="grid__col--xs-12 grid__col--xlg-6"></div>
            <div class="grid__col--xs-12 grid__col--md-6 grid__col--xlg-6">
              <div class="field">
                <label class="field__label">* <%= t("post_project.fields.start_date.label") %></label>
                <div class="field__input-wrapper">
                  <%= inline_svg("icons/calendar.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough field__add-on--clickthrough") %>
                  <%= f.input :start_date, wrapper: :date_picker, as: :date_picker_future, required: true %>
                </div>
              </div>
            </div>
            <div class="grid__col--xs-12 grid__col--md-6 grid__col--xlg-6">
              <div class="field">
                <label class="field__label">* <%= t("post_project.fields.end_date.label") %></label>
                <div class="field__input-wrapper">
                  <%= inline_svg("icons/calendar.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough field__add-on--clickthrough") %>
                  <%= f.input :end_date, wrapper: :date_picker, as: :date_picker_future, required: true %>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="card__section card__section--padded">
        <div class="card__header">
          <h4 class="card__title">
            <%= inline_svg("icons/gallery.svg", class: "icon icon--dark icon--small") %><%= t("post_project.header.attachments") %>
          </h4>
        </div>
        <fieldset class="fieldset">
          <div class="grid">
            <div class="grid__col--xs-12 grid__col--md-12">
              <div class="field field--has-btn">
                <label class="field__label"><%= t("post_project.fields.attachments.label") %></label>
                <%= f.simple_fields_for :attachments do |attachment| %>
                <%= render 'user/project_steps/existing_attachment_fields', f: attachment unless attachment.object.new_record? %>
                <% end %>
                <%= f.simple_fields_for :attachments do |attachment| %>
                <%= render 'user/project_steps/attachment_fields', f: attachment if attachment.object.new_record? %>
                <% end %>
                <div class="field">
                  <div class="field__input-wrapper">
                    <%= link_to_add_association t("post_project.fields.attachments.add_attachment"), f, :attachments, partial: "user/project_steps/attachment_fields" %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="card__section card__section--padded card__section--border">
        <div class="card__header">
          <h4 class="card__title">
            <%= inline_svg("icons/user.svg", class: "icon icon--dark icon--small") %><%= t("post_project.header.project_contact") %>
          </h4>
        </div>
        <fieldset class="fieldset">
          <div class="grid">
            <div class="grid__col--xs-12 grid__col--md-6 grid__col--xlg-6">
              <div class="field">
                <%= f.input :contact_name, wrapper: :text_field, placeholder: t("post_project.fields.contact.name.placeholder"), label: t("post_project.fields.contact.name.label"), input_html: { value: current_user.present? ? current_user.name : @project.user.name }, required: true %>
              </div>
            </div>
            <div class="grid__col--xs-12 grid__col--md-6 grid__col--xlg-6">
              <div class="field">
                <%= f.input :prevent_autocomplete, as: :fake, input_html: { class: "u-hide", name: "project[contact_email]", type: "text" }, label: false %>
                <%= f.input :contact_email, wrapper: :text_field, placeholder: t("post_project.fields.contact.email.placeholder"), label: t("post_project.fields.contact.email.label"), input_html: { value: current_user.present? ? current_user.email : @project.user.email }, required: true %>
              </div>
            </div>
            <div class="grid__col--xs-12 grid__col--md-6 grid__col--xlg-6">
              <div class="field">
                <label class="field__label">* <%= t("post_project.fields.contact.role.label") %></label>
                <div class="field__input-wrapper">
                  <%= inline_svg("icons/dropdown.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough") %>
                  <%= f.input :contact_role, collection: Project.project_roles, as: :select, input_html: { class: "field__input field__input--right-add-on" }, label: false, required: true, include_blank: true %>
                </div>
              </div>
            </div>
            <div class="grid__col--xs-12 grid__col--md-6 grid__col--xlg-6">
              <div class="field">
                <%= f.input :contact_number, wrapper: :text_field, placeholder: t("post_project.fields.contact.number.placeholder"), label: t("post_project.fields.contact.number.label"), input_html: { value: @project && @project.contact_number ? @project.contact_number : current_user ? current_user.mobile_number : nil, class: "js-phone" }, required: true %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="card__section card__section--border">
        <fieldset class="fieldset">
          <div class="grid">
            <div class="grid__col--xs-12 grid__col--md-12 u-text-right">
              <div class="field">
                <%= f.submit action_name != "edit" ? t("form.submit") : t("form.update"), class: "btn btn--xs-full btn--primary" %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

    </div>
  </div>
</div>
<%end%>