<a href="https://twitter.com/home?status=<%= request.original_url %>" title="Share on Twitter" target="_blank" class="popover__link"><%= inline_svg("icons/twitter.svg", class: "icon icon--twitter mr1") %>Share on Twitter</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" title="Share on Facebook" target="_blank" class="popover__link"><%= inline_svg("icons/facebook.svg", class: "icon icon--facebook mr1") %> Share on Facebook</a>
<a href="https://plus.google.com/share?url=<%= request.original_url %>" title="Share on Google+" target="_blank" class="popover__link"><%= inline_svg("icons/google_plus.svg", class: "icon icon--google mr1") %>Share on Google+</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>" title="Share on LinkedIn" target="_blank" class="popover__link"><%= inline_svg("icons/linkedin.svg", class: "icon icon--linkedin mr1") %>Share on LinkedIn</a>
<a href="mailto:?subject=your%20subject&amp;body=<%= request.original_url %>" class="popover__link"><%= inline_svg("icons/email.svg", class: "icon icon--yellow mr1") %>Share through email</a>
<a href="whatsapp://send?text=<%= request.original_url %>" class="popover__link"><%= inline_svg("icons/whatsapp.svg", class: "icon icon--green mr1") %>Share on WhatsApp</a>

