<!doctype html>
<html class="<%= text_direction %>">
  <head>
    <meta charset="utf-8">
    <title><%= page_title.present? ? page_title : 'Muqawiloon' %></title>
    <meta name="description" content= <%= yield :meta_description %> >
    <meta name="keywords" content=<%= yield :meta_keywords %> >
    <meta property="og:type" content="website">
    <meta property="og:url" content=<%= yield :meta_url %> >
    <meta property="og:image" content=<%= yield :meta_image %> >
    <meta property="og:title" content="<%= page_title.present? ? page_title : 'Muqawiloon' %>">
    <meta property="og:description" content=<%= yield :meta_description %> >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600" %>
    <!-- Import font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Import Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" />
    <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3&key=#{ ENV['G_KEY'] }" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body data-current-city="<%= @current_city.try(:name) %>" data-locale="<%= I18n.locale.to_s %>">
    <% flash.each do |name, msg| %>
      <% if msg.class == Array %>
        <% msg.each do |message| %>
          <div class="banner banner--disappearing banner--<%= name == "notice" ? 'success' : 'error' %>">
            <%= message %>
          </div>
        <% end %>
      <% else %>
        <div class="banner banner--disappearing banner--<%= name == "notice" ? 'success' : 'error' %>">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <%= render partial: "partials/home/how_it_works" if controller_name == "home" %>
    <div class="page-wrap">
      <%= render partial: "partials/nav/main_nav/main" unless current_page?(controller: '/home') || current_page?(controller: '/cities') %>
      <%= yield :sub_nav %>
      <%= yield :breadcrumbs %>
      <%= yield %>
      <%= render partial: "partials/nav/footer" %>
    </div>
    <% if current_user %>
      <%= render partial: "modals/admin_notification/report_a_problem" %>
      <%= render partial: "modals/errors/suggest_upgrade" %>
    <% end %>
    <%= render partial: "modals/home/tell_use_your_needs" if controller_name == "home" %>
    <% if current_user && @business && controller_name == "businesses" %>
      <%= render partial: "modals/admin_notification/claim_business" %>
    <% end %>
    <% if current_user && controller_name == "profile" %>
      <%= render partial: "modals/errors/user_upgrade_coming_soon" %>
    <% end %>
    <% if @current_business && controller_name == "profile" %>
      <%= render partial: "modals/admin_notification/business_upgrade" %>
    <% end %>
    <% unless current_user %>
      <%= render partial: "modals/authentication/sign_up" %>
      <%= render partial: "modals/authentication/log_in" %>
      <%= render partial: "modals/errors/please_log_in" %>
      <%= render partial: "modals/errors/suggest_sign_up" %>
    <% end %>
    <% if controller_name == "businesses" %>
      <%= render partial: "modals/businesses/quote_request" %>
      <%= render partial: "modals/businesses/send_a_message" %>
      <%= render partial: "modals/businesses/request_callback" %>
      <%= render partial: "modals/map/business_profile_map" %>
    <% end %>
    <% if controller_name == "projects" %>
      <%= render partial: "modals/projects/suggest_businesses" %>
    <% end %>
    <% if controller_name == "project_business" %>
      <%= render partial: "modals/projects/view_quote" %>
    <% end %>
    <% if controller_name == "gallery" %>
      <%= render partial: "modals/video_player/video_player" %>
      <%= render partial: "modals/image/show" %>
    <% end %>
    <% if ["businesses", "sub_categories", "services", "categories", "projects"].include? controller_name %>
      <%= render partial: "modals/businesses/call_now" %>
    <% end %>
    <% if ["businesses", "user/businesses", "user/projects", "user/project_steps", "business/businesses"].include? controller_path %>
      <%= render partial: "modals/map/choose_location" %>
    <% end %>
    <%= render partial: "partials/nav/mobile_nav/main" %>
    <% if Rails.env.production? %>
      <%= render partial: "layouts/google_analytics" %>
    <% end %>
    <% if controller.action_name.include?('new') || controller.action_name.include?('edit') %>
      <%= render partial: "layouts/h5_validate" %>
    <% end %>
    <%= yield :page_scripts %>


    <!-- Import JS  -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript">
      $('.submenu-holder a').click(function(){
        $('.submenu-holder').removeClass('open');
        $(this).parent().toggleClass('open');
        $('.open .submenu').toggleClass('display');

      })
      $('.toggle-btn').click(function(){
        $('.submenu-holder').removeClass('open');
        $('.submenu').removeClass('display');
        $('.toplevel').toggle();
      })</script>
  </body>
</html>
