<!doctype html>
<html class="<%= text_direction %>">
  <head>
    <meta charset="utf-8">
    <title><%= page_title.present? ? page_title : 'Muqawiloon' %></title>
    <meta name="description" content= <%= yield :meta_description %> >
    <meta name="keywords" content=<%= yield :meta_keywords %> >
    <meta property="og:type" content="website">
    <meta property="og:url" content=<%= yield :meta_url %> >
    <meta property="og:image" content=<%= yield :meta_image %> >
    <meta property="og:title" content="<%= page_title.present? ? page_title : 'Muqawiloon' %>">
    <meta property="og:description" content=<%= yield :meta_description %> >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag "business_dashboard", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600" %>
    <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3&key=#{ ENV['G_KEY'] }" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body data-current-city="<%= @current_city.try(:name) %>" data-locale="<%= I18n.locale.to_s %>">
  <!--
    <%# flash.each do |name, msg| %>
      <%# if msg.class == Array %>
        <%# msg.each do |message| %>
          <div class="banner banner--disappearing banner--<%#= name == "notice" ? 'success' : 'error' %>">
            <%#= message %>
          </div>
        <%# end %>
      <%# else %>
        <div class="banner banner--disappearing banner--<%#= name == "notice" ? 'success' : 'error' %>">
          <%#= msg %>
        </div>
      <%# end %>
    <%# end %> -->

    <%= render partial: "partials/home/how_it_works" if controller_name == "home" %>
    <!--
    <div class="page-wrap">
      <%#= render partial: "partials/nav/main_nav/main" unless current_page?(controller: '/home') || current_page?(controller: '/cities') %>
      <%#= yield :sub_nav %>
      <%#= yield :breadcrumbs %>
      <%#= yield %>
    </div> -->
      
    <div class="page-wrap">
      <%= render partial: "partials/nav/business_dashboard_nav/main" unless current_page?(controller: '/home') || current_page?(controller: '/cities') %>
      <%#= render partial: "partials/user/profile/profile_header" %>
      <%= yield :breadcrumbs %>
      <% flash.each do |name, msg| %>
        <% if msg.class == Array %>
          <% msg.each do |message| %>
            <div class="banner banner--disappearing banner--<%= name == "notice" ? 'success' : 'error' %>">
              <%= message %>
            </div>
          <% end %>
        <% else %>
          <div class="banner banner--disappearing banner--<%#= name == "notice" ? 'success' : 'error' %>">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
            
      <div class="">
      <%#= yield :side_bar %>
      <%= yield :business_sub_nav %>
        <div class="site-wrap">
          <%= yield %>
        </div>
      </div>
          
      <%= render partial: "partials/nav/user_dashboard_nav/footer" %>
      <%= render partial: "partials/nav/footer" %>
    </div>

    <% if current_user %>
      <%= render partial: "modals/admin_notification/report_a_problem" %>
      <%= render partial: "modals/errors/suggest_upgrade" %>
    <% end %>

    <%= render partial: "modals/home/tell_use_your_needs" if controller_name == "home" %>


    <% if current_user && @business && controller_name == "businesses" %>
      <%= render partial: "modals/admin_notification/claim_business" %>
    <% end %>

    <% if current_user && controller_name == "profile" %>
      <%= render partial: "modals/errors/user_upgrade_coming_soon" %>
    <% end %>

    <% if @current_business && controller_name == "profile" %>
      <%= render partial: "modals/admin_notification/business_upgrade" %>
    <% end %>

    <% unless current_user %>
      <%= render partial: "modals/authentication/sign_up" %>
      <%= render partial: "modals/authentication/log_in" %>
      <%= render partial: "modals/errors/please_log_in" %>
      <%= render partial: "modals/errors/suggest_sign_up" %>
    <% end %>

    <% if controller_name == "businesses" %>
      <%= render partial: "modals/businesses/quote_request" %>
      <%= render partial: "modals/businesses/send_a_message" %>
      <%= render partial: "modals/businesses/request_callback" %>
      <%= render partial: "modals/map/business_profile_map" %>
    <% end %>


    <% if controller_name == "projects" %>
      <%= render partial: "modals/projects/suggest_businesses" %>
    <% end %>

    <% if controller_name == "project_business" %>
      <%= render partial: "modals/projects/view_quote" %>
    <% end %>

    <% if controller_name == "gallery" %>
      <%= render partial: "modals/video_player/video_player" %>
    <% end %>

    <% if ["businesses", "sub_categories", "services", "categories", "projects"].include? controller_name %>
      <%= render partial: "modals/businesses/call_now" %>
    <% end %>

    <% if ["businesses", "user/businesses", "user/projects", "user/project_steps", "business/businesses"].include? controller_path %>
      <%= render partial: "modals/map/choose_location" %>
    <% end %>

    <%= render partial: "partials/nav/mobile_nav/main" %>

    <% if Rails.env.production? %>
      <%= render partial: "layouts/google_analytics" %>
    <% end %>

    <% if controller.action_name.include?('new') || controller.action_name.include?('edit') %>
      <%= render partial: "layouts/h5_validate" %>
    <% end %>

    <%= yield :page_scripts %>

  </body>
</html>
