<!doctype html>

<html class="<%= text_direction %>">
  <head>
    <meta charset="utf-8">
    <title>Muqawiloon</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content=<%= yield :meta_url %> >
    <meta property="og:title" content="<%= 'Muqawiloon | Error' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="page-wrap">
      <%= render partial: "partials/nav/main_nav/main" unless current_page?(controller: '/home') || current_page?(controller: '/cities') %>
      <%= yield %>
      <%= render partial: "partials/nav/footer" %>
    </div>

    <% unless current_user %>
      <%= render partial: "modals/authentication/sign_up" %>
      <%= render partial: "modals/authentication/log_in" %>
      <%= render partial: "modals/errors/please_log_in" %>
      <%= render partial: "modals/errors/suggest_sign_up" %>
    <% end %>

    <%= yield :page_scripts %>

  </body>
</html>
