<!doctype html>
<html class="<%= text_direction %>">
  <head>
    <meta charset="utf-8">
    <title><%= page_title.present? ? page_title : 'Muqawiloon' %></title>
    <meta name="description" content= <%= yield :meta_description %> >
    <meta name="keywords" content=<%= yield :meta_keywords %> >
    <meta property="og:type" content="website">
    <meta property="og:url" content=<%= yield :meta_url %> >
    <meta property="og:image" content=<%= yield :meta_image %> >
    <meta property="og:title" content="<%= page_title.present? ? page_title : 'Muqawiloon' %>">
    <meta property="og:description" content=<%= yield :meta_description %> >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag "user_dashboard", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"  %> 
    <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3&key=#{ ENV['G_KEY'] }" %>
    <%= javascript_include_tag 'user_dashboard' %>
  </head>

  <body data-current-city="<%= @current_city.try(:name) %>" data-locale="<%= I18n.locale.to_s %>">

    <%= render partial: "partials/home/how_it_works" if controller_name == "home" %>

    <div class="page-wrap">
      <%= render partial: "partials/nav/user_dashboard_nav/main" unless current_page?(controller: '/home') || current_page?(controller: '/cities') %>
      <%= render partial: "partials/user/profile/profile_header" %>
      <%= yield :breadcrumbs %>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <% flash.each do |name, msg| %>
              <% if msg.class == Array %>
                <% msg.each do |message| %>
                  <div class="alert alert-dismissible fade show mt-2 alert-<%= name == "notice" ? 'success' : 'error' %>" role="alert">
                    <%= message %>    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <% end %>
              <% else %>
                <div class="alert alert-dismissible fade show mt-2 alert-<%= name == "notice" ? 'success' : 'error' %>" role="alert">
                  <%= msg %>    
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% end %>
            <% end %>  
          </div>
        </div>
        <div class="row mt-2">
          <%#= yield :side_bar %>
          <%= yield :sub_nav %>
          <%= yield %>
        </div>
      </div>
      <%= render partial: "partials/nav/user_dashboard_nav/footer" %>
    </div>
  </body>
</html>
