<section class="section-page section--alt">
  <div class="">
    <div class="grid">
      <% unless @business.approved %>
        <div class="grid__col--xs-12">
          <div class="card banner banner--primary"><%= t("dashboard.awaiting") %> <%= link_to edit_business_business_path(@business), class: "u-text-contrast u-text-underline" do %><%= t("dashboard.complete") %><% end %> <%= t("dashboard.wait") %></div>
        </div>
      <% end %>
      <div class="grid__col--xs-12 grid__col--md-3 grid__col--lg-3">
        <div class="card">
          <div class="card__section">
            <div class="card__header">
              <h4 class="card__title"><%= inline_svg("icons/graph.svg", class: "icon icon--brand icon--small") %><%= t("dashboard.stats") %></h4>
              <%= link_to t("dashboard.view_all"), business_stats_path, class: "btn btn--link" %>
            </div>
            <div class="grid grid--v-padded">
              <% @stats.map do |stat_name, stat_value| %>
                <div class="grid__col--xs-12 grid__col--sm-6 grid__col--lg-6">
                  <small class="u-block mb1"><%= t("dashboard.#{stat_name}") %></small>
                  <h2 class="m0"><%= stat_value %></h2>
                </div>
              <% end %>
            </div>
            <%= link_to "promote your business", new_user_project_path(project_type: "default"), class: "btn-outline-primary btn-block btn-special mt3" %>
          </div>
        </div>
        <% if @dashboard_banners.first %>
          <%= render partial: "partials/banners/dashboard_banner", locals: { banner: @dashboard_banners.first } %>
        <% end %>
        <% if @business.premium? %>
          <div class="card promo-block u-cover">
            <div class="card__section promo-block__content">
              <h3 class="u-text-contrast u-text-shadow"><%= t("dashboard.advertise_ad") %></h3>
              <p class="u-text-shadow u-text-contrast u-text-muted"><%= t("dashboard.advertise_ad_blurb") %></p>
              <a href="/pages/contact?advertise" class="btn btn--primary"><%= t("words.advertise") %></a>
            </div>
          </div>
        <% else %>
          <div class="card promo-block u-cover">
            <div class="card__section promo-block__content">
              <h3 class="u-text-contrast u-text-shadow"><%= t("dashboard.upgrade_ad_business") %></h3>
              <p class="u-text-shadow u-text-contrast u-text-muted"><%= t("dashboard.upgrade_ad_blurb") %></p>
              <span data-modal="business-upgrade" class="js-open-modal btn btn--primary"><%= t("words.upgrade") %></span>
            </div>
          </div>
        <% end %>
        <% if @dashboard_banners.present? && @dashboard_banners.count > 1 %>
          <%= render partial: "partials/banners/dashboard_banner", locals: { banner: @dashboard_banners.last } %>
        <% end %>
      </div>

      <div class="grid__col--xs-12 grid__col--md-6 grid__col--lg-6">
        <% @messages.each do |message| %>
          <div class="card card__invitation iosdop">
            <div class="card__section">
              <div class="card__header">
                <div class="card__title__hide_button">
                  <p class="invitation-type-title">Message</p>
                  <span onclick='hideElement(this)'><p class="hide-button"><i class="fa fa-times"></i> hide</p></span>
                </div>
              </div>

              <div class="card__invitation__body">    
                <div class="media small">
                  <div class="media__body">
                    <div class="heading-container">
                      <div class="text-and-button-container">

                        <div class="left-content">
                          <div class="progress-bar-with-percentage">
                            <h5 class="heading"><%#= project.title %><%= "#{ message.sender.name }" %></h5>
                            <%#= link_to edit_user_project_path(project),  style: "text-decoration: none;color:black" do %>
                              <span class="activity-edit-button ml2"><%= time_ago_in_words("#{message.updated_at}") %> <%= t("words.ago") %></span>
                            <%# end %>
                          </div>
                          <div class="sub-heading">
                            <p><%= truncate(message.body, length: 70) %></p>
                          </div>
                        </div>

                        <div class="right-content">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="card">
          <div class="card__section">
            <div class="card__header">
              <h4 class="card__title"><%= inline_svg("icons/briefcase.svg", class: "icon icon--dark icon--small") %><%= t("dashboard.projects") %></h4>
              <%= link_to t("dashboard.view_all"), business_project_feed_index_path, class: "btn btn--link" unless @projects.blank? %>
            </div>
            <div class="grid grid--v-padded">
              <div class="grid__col--xs-12">
                <% if @projects.present? %>
                  <% @projects.each do |project| %>
                    <div class="media small mb2">
                      <div class="media__body">
                        <%= link_to project.title, business_project_feed_path(project), class: "u-block" %>
                        <small class="u-text-light mb1 u-inline-block"><%= project.created_at.strftime("%b %d, %Y") %></small>
                        <small class="u-block mb1"><%= truncate(project.description, length: 200) if project.description.present? %></small>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <p><%= t("dashboard.no_projects") %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card__section">
            <div class="card__header">
              <h4 class="card__title"><%= inline_svg("icons/quote.svg", class: "icon icon--brand icon--small") %><%= t("dashboard.notifications") %></h4>
              <%= link_to t("dashboard.view_all"), business_inbox_index_path, class: "btn btn--link" if @notifications.present? %>
            </div>
            <div class="grid grid--v-padded">
              <% if @notifications.present? %>
                <% @notifications.each do |notification| %>
                  <div class="grid__col--xs-12">
                    <div class="media small">
                      <div class="media__figure u-hide--small-down">
                        <%= image_tag notification.sender.profile_image.url, class: "avatar" %>
                      </div>
                      <div class="media__body">
                        <%= render partial: "partials/notifications/format_body", locals: { notification: notification, user_type: "business", project: notification.project_id.present? && Project.where(id: notification.project_id).present? ? Project.find(notification.project_id) : '' } %>
                        </br>
                        <small class="u-text-light mb1 u-inline-block"><%= time_ago_in_words(notification.created_at) %></small>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="grid__col--xs-12">
                  <p><%= t("dashboard.no_notifications") %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <!--- New Invitations & Quotes Requests -->
        <% @invitation_quotes.each do |invitation| %>
          <div class="card card__invitation iosdop">
            <div class="card__section">
              <div class="card__header">
                <div class="card__title__hide_button">
                  <p class="invitation-type-title">Invitations</p>
                  <span onclick="hideElement(this);"><p class="hide-button"><i class="fa fa-times"></i> hide</p></span>
                </div>
              </div>

              <div class="card__invitation__body">    
                <div class="media small">
                  <div class="media__body">
                    <div class="heading-container">
                      <div class="text-and-button-container">
                        <div class="left-content">
                          <div class="heading-container">
                            <h5 class="heading"><%= invitation.project.title %></h5>
                            <div class="sub-heading">
                              <span class="activity-preview-button"><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= time_ago_in_words(invitation.updated_at) %> <%= t("words.ago") %> </span>
                              <%= link_to user_project_path(invitation.project),  style: "text-decoration: none;color:black" do %>
                                <span class="activity-preview-button"><i class="fa fa-external-link" aria-hidden="true"></i> Preview</span>
                              <% end %>
                            </div>
                          </div>
                        </div>

                        <div class="right-content">
                          <%= link_to t("projects.view_project"), user_project_path(invitation.project), class: "btn-outline-primary btn-block btn-special mt-3" %>      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <% @quote_requests.each do |quote| %>
          <div class="card card__invitation">
            <div class="card__section">
              <div class="card__header">
                <div class="card__title__hide_button">
                  <p class="invitation-type-title">Quote Requests</p>
                  <span onclick='hideElement(this)'><p class="hide-button"><i class="fa fa-times"></i> hide</p></span>
                </div>
              </div>

              <div class="card__invitation__body">    
                <div class="media small">
                  <div class="media__body">
                    <div class="heading-container">
                      <div class="text-and-button-container">

                        <div class="left-content">
                          <div class="progress-bar-with-percentage">
                          <%unless quote.project.nil?%>
                            <h5 class="heading"><%= quote.project.user.name %></h5>
                            <%end%>
                            <span class="activity-edit-button ml2"><%= time_ago_in_words("#{quote.updated_at}") %> <%= t("words.ago") %></span>
                          </div>
                          <div class="sub-heading">
                            <p><%= truncate(quote.proposal, length: 70) %></p>
                          </div>
                        </div>

                        <div class="right-content">
                          <span data-modal="view-quote" class="js-open-modal btn-outline-primary btn-block btn-special mt-3"><%= t("project.view_quote") %></span>
                          <%#= link_to "view requests", user_project_path(invitation.project), class: "btn-outline-primary btn-block btn-special mt-3" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%unless quote.project.nil?%>
          <%= render partial: "modals/projects/view_quote", locals: { project: quote.project, business: quote.business, quote: quote } %>
          <%end%>
        <% end %>
      </div>
      <div class= "grid__col--xs-12 grid__col--md-3 grid__col--lg-3">
        <%= link_to  t("profile_nav.business.feed"), business_project_feed_index_path, class: "btn-block btn-special btn-business-dashboard mt-3" %>

        <div class="featured-lists mb-4">
          <h5 class="saved-lists-heading"><i class="fa fa-bookmark" aria-hidden="true"></i> Featured Project</h5>
          <ul>
            <li>I need a professional contractors</li>
            <li>I need a professional consultants</li>
            <li>I need a professional supplier</li>
            <li>I need a heavy machinery</li>
            <li>I need a developers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function hideElement($this){
    var element = $this.closest('.card');
    element.hidden = true
  }
</script>